{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>

  <meta charset="utf-8">
  <meta name="description" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <meta name="theme-color" content="#000">
  <meta name="msapplication-navbutton-color" content="#000">
  <meta name="apple-mobile-web-app-status-bar-style" content="#000">

  <title>{% block title %}{% endblock %}</title>

{#  <link rel="stylesheet" href="{% static 'css/main.min.css' %}">#}
  <link rel="stylesheet" href="{% static 'css/main.css' %}">

  {% block style %}{% endblock %}

</head>
<body>

<header class="header">
  {% include 'public/components/header.html' %}
</header>

{% block content %}{% endblock %}

<footer class="footer">
  {% include 'public/components/footer.html' %}
</footer>

{% include 'public/components/modal_authorization_form.html' %}

<div id="snackbar"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

{% block script %}{% endblock %}

<script src="{% static 'js/scripts.js' %}"></script>

<script>

  function formSubmitHandler(form) {

    const urls_actions = {
      'login-form': 'login/',
      'request-user-form': 'request-user/',
      'recover-password': 'recover-password/',
    }

    const client = axios.create({
      baseURL: `${window.location.origin}/`,
      withCredentials: true,
      xsrfCookieName: 'csrftoken',
      xsrfHeaderName: 'X-CSRFToken',
    })

    const formData = new FormData(form)
    const modalOverlay = document.getElementById('modal-overlay')
    const modal = document.getElementById('modal')

    client.post(`${urls_actions[form.id]}`, formData)
      .then(({ data }) => {

        if (form.id === 'login-form') {
          window.location.pathname = 'lk/'
        } else {
          modal.classList.remove('open')
          modalOverlay.classList.remove('open-overlay')
        }

        showMessage(data)

        form.reset()
      })
      .catch((e) => {
        console.error(e)
      })
  }

</script>

</body>
</html>
