{% load static private_side_extras %}

<!DOCTYPE html>
<html lang="ru">
<head>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-160291214-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-160291214-1');
  </script>

  {% include 'common/head.html' %}

  <title>{% block title %}{% endblock %}</title>

</head>
<body>

<header class="header">
  {% include 'public/components/header.html' %}
</header>

{% block content %}{% endblock %}

<footer class="footer">
  {% include 'public/components/footer.html' %}
</footer>

{% include 'public/components/modal_authorization_form.html' %}

<div id="snackbar"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

{% block script %}{% endblock %}

<script src="{% static 'js/scripts.js' %}"></script>

<script>
  {% if form.errors %}
    showMessage({ status: 'error', message: 'Эл. почта или пароль введены неверно!' })
  {% endif %}
</script>

{{ 'DEBUG'|get_settings_var|json_script:'DEBUG' }}

<script>
  const DEBUG = JSON.parse(document.getElementById('DEBUG').textContent)

  function formSubmitHandler(form) {

    const urls_actions = {
      'request-user-form': 'request-user/',
      'recover-password': 'recover-password/',
    }

    const client = axios.create({
      baseURL: `${window.location.origin}/`,
      withCredentials: true,
      xsrfCookieName: 'csrftoken',
      xsrfHeaderName: 'X-CSRFToken',
    })

    const formData = new FormData(form)

    client.post(`${urls_actions[form.id]}`, formData)
      .then(({ data }) => {

        modalHiddenHandler({ force: false })
        scrollHiddenHandler(false)

        showMessage(data)

        form.reset()

        if (form.id === 'request-user-form') {
          gtagHandler('send_request')
        }
      })
      .catch((e) => {
        console.error(e)
      })
  }

  const gtagHandler = (event) => {
    if (!DEBUG) {
      gtag('event', event, {'event_category': 'button'})
    }
    return false
  }

</script>

</body>
</html>
