{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>

  <meta charset="utf-8" />
  <meta name="description" content="" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <meta property="og:url" content="{{ request.scheme }}://{{ request.get_host }}" />

  <meta name="theme-color" content="#000" />
  <meta name="msapplication-navbutton-color" content="#000" />
  <meta name="apple-mobile-web-app-status-bar-style" content="#000" />

  <title>Статус оплаты | Онлайн школа английского и китайского языка | Hello Panda</title>
  <meta property="og:title" content="Статус оплаты | Онлайн школа английского и китайского языка | Hello Panda" />

  {#  <link rel="stylesheet" href="{% static 'css/main.min.css' %}">#}
  <link rel="stylesheet" href="{% static 'css/main.css' %}">

</head>
<body class="body__payment_callback">
<main class="main__payment_callback">

  <h1 class="visually-hidden">Статус оплаты</h1>

  <img class="payment_callback__img_top" src="{% static 'img/action-bg-2.svg' %}" width="270px">

  {% if status == 'error' %}
    <img class="payment_callback__img_bottom" src="{% static 'img/mission-mob-2_r.svg' %}" width="360px">
  {% else %}
    <img class="payment_callback__img_bottom" src="{% static 'img/process-img_r.svg' %}" width="320px">
  {% endif %}

  <section class="payment_callback{% if status == 'error' %} payment_callback--error{% endif %}">
    <h1 class="payment_callback__h1">{% if status == 'success' %}Все в порядке!{% else %}Ошибка!{% endif %}</h1>
    <p>{{ message }}</p>

    {% if status == 'error' %}
      <p>Техническая поддержка:</p>
      <a href="mailto:{{ settings_site.email_support }}">{{ settings_site.email_support }}</a>
      <a href="tel:{{ settings_site.phone_second }}">{{ settings_site.phone_second }}</a>
    {% endif %}

    <p>Можно закрыть вкладку.</p>
  </section>

</main>

{#  <script>#}
{##}
{#    const timer_tag = document.getElementById('timer')#}
{#    let count = 5#}
{#    timer_tag.innerHTML = count#}
{##}
{#    setInterval(() => {#}
{#      --count#}
{#      timer_tag.innerHTML = count#}
{#    }, 1000)#}
{##}
{#    setTimeout(() => {#}
{#      self.close()#}
{#    }, (count + 1) * 1000)#}
{##}
{#  </script>#}

</body>
</html>
