{% extends 'public/_base.html' %}

{% load static %}

{% block title %}Контакты{% endblock %}

{% block content %}
  <section class="contatcs">
    <div class="contatcs-bg contatcs-bg__1">
      <img src="{% static 'img/contatcs-bg-1.svg' %}" alt="">
    </div>
    <div class="contatcs-bg contatcs-bg__2">
      <img src="{% static 'img/contatcs-bg-2.svg' %}" alt="">
    </div>
    <div class="wrapper">
      <div class="section-top" data-aos="fade-up" data-aos-duration="500" data-aos-once="true">
        <span class="section-subtitle">Contacts</span>
        <h2 class="section-title">Контакты</h2>
      </div>
      <div class="contatcs-text" data-aos="fade-up" data-aos-duration="500" data-aos-once="true">
        <p>Если ты принял решение учиться в нашей школе или у тебя возникли другие вопросы, касающиеся процесса обучения у нас – связывайся с нами любым удобным способом. Наши консультанты помогут по любому вопросу, а наши кураторы готовы проконсультировать и проверить уровень твоего английского или китайского и подобрать нужную программу.</p>
      </div>
      <div class="contatcs-row">
        <div class="contatcs-col" data-aos="fade-up" data-aos-duration="500" data-aos-once="true">
          <div class="contatcs-wrap">
            <div class="contatcs-ico">
              <img src="{% static 'img/contatcs-ico-1.svg' %}" alt="">
            </div>

            <ul>
              <li>
                <a href="tel:{{ settings_site.phone_first }}">{{ settings_site.phone_first }}</a>
              </li>
              <li>
                <a href="tel:{{ settings_site.phone_second }}">{{ settings_site.phone_second }}</a>
              </li>
            </ul>

          </div>
        </div>
        <div class="contatcs-col" data-aos="fade-up" data-aos-duration="500" data-aos-once="true">
          <div class="contatcs-wrap">
            <div class="contatcs-ico">
              <img src="{% static 'img/contatcs-ico-2.svg' %}" alt="">
            </div>

            <ul>
              <li>
                <a href="mailto:{{ settings_site.email_office }}">{{ settings_site.email_office }}</a>
              </li>
              <li>
                <a href="mailto:{{ settings_site.email_support }}">{{ settings_site.email_support }}</a>
              </li>
            </ul>

          </div>
        </div>

      </div>

      <div class="contatcs-social" data-aos="fade-up" data-aos-duration="500" data-aos-once="true">
        <span class="contatcs-social__subtitle">Мы так же и в социальных сетях:</span>
        <ul>

          {% if settings_site.vkontakte %}
            <li>
              <a href="{{ settings_site.vkontakte }}">
                <img src="{% static 'img/ico-vk.svg' %}" alt="">
              </a>
            </li>
          {% endif %}

          {% if settings_site.telegram %}
            <li>
              <a href="{{ settings_site.telegram }}">
                <img src="{% static 'img/ico-tg.svg' %}" alt="">
              </a>
            </li>
          {% endif %}

          {% if settings_site.whatsapp %}
            <li>
              <a href="{{ settings_site.whatsapp }}">
                <img src="{% static 'img/ico-what.svg' %}" alt="">
              </a>
            </li>
          {% endif %}

          {% if settings_site.facebook %}
            <li>
              <a href="{{ settings_site.facebook }}">
                <img src="{% static 'img/ico-fb.svg' %}" alt="">
              </a>
            </li>
          {% endif %}

        </ul>
      </div>
    </div>
  </section>

  <section class="faq">
    {% include 'public/components/section_faq.html' %}
  </section>

  {% include 'public/components/section_all_questions.html' %}

{% endblock %}
