{% extends 'public/_base.html' %}

{% load static %}

{% block title %}Договор оферты{% endblock %}

{% block content %}
  <section class="text-container">
    <h1>Договор оферты</h1>

    <p>Безумовним прийняттям (акцептом) умов дійсної публічної оферти буде вважатися авансова оплата Замовником послуг Виконавця, передбачених Договором, вчинення замовлення послуг Виконавця, або фактичне використання інформації сайту, на якому розміщена справжня Оферта. При цьому договір вважається укладеним без підписання в кожному конкретному випадку, т.к. Акцепт оферти прирівнюється до укладення договору на зазначених нижче умовах.</p>

    <h2>1. ПРЕДМЕТ та ЗАГАЛЬНІ ПОЛОЖЕННЯ</h2>

    <p>1.1. На умовах цієї оферти Виконавець бере на себе зобов'язання за плату і на умовах, передбачених договором і "Правилами відвідування Курсу іноземних мов" (далі - Правила), надавати Замовнику або особі, від імені якого Замовник діє на законних підставах, послуги із забезпечення його участі на заняттях, організованих Виконавцем відповідно до його розкладу і режимом роботи (далі - Послуги).</p>

    <p>1.2. Послуги за договором можуть надаватися Виконавцем як на разовій основі (разові заняття), так і шляхом надання передбаченого Прейскурантом курсу, що забезпечує можливість відвідування відповідної кількості занять за місцем розташування Виконавця за адресами на сайті курсів.</p>

    <p>1.3. Виконавець має право відмовити будь-якій особі (або Замовнику) в наданні послуг по Договору, якщо обрані останнім послуги не відповідають віку і / або рівнем його підготовки.</p>

    <p>1.4. Після укладення Договору Замовник самостійно визначає кількість відвідувань Курсів в період дії обраного ним курсу і передбаченого таким курсом кількості занять, при цьому послуги визнаються наданими Виконавцем незалежно від фактичної кількості таких відвідувань (візитів).</p>

    <p>1.5. Послуги за договором виявляються силами і засобами Виконавця або залучених ним третіх осіб за вибором Виконавця; при цьому виконавець несе відповідальність за дії таких третіх осіб за Договором.</p>

    <p>1.6. У разі якщо при наданні послуг Виконавцем виявлена необхідність обробки (обліку, зберігання) персональних відомостей щодо Замовника або осіб, від імені яких Замовник діє на законних підставах, останній приймає на себе зобов'язання вживати всіх необхідних заходів щодо забезпечення Виконавця відповідним згодою (згодами) на таку обробку. В іншому випадку виконавець залишає за собою право відмови в наданні послуг.</p>

    <h2>2. ПРАВА ТА ОБОВ'ЯЗКИ СТОРІН</h2>

    <p>2.1. Виконавець зобов'язується:</p>
    <p>2.1.1. З моменту укладення Договору надавати Замовнику або особі, від імені яких Замовник діє на законних підставах Послуги відповідно до їх переліком та вимогами якості, визначеними в цьому Договорі та згідно з законодавством України.</p>

    <p>2.1.2. Завчасно (не менше ніж за 10 (десять) днів) розміщувати інформацію про внесені зміни та доповнення до Договору, перелік, вартість послуг, що надаються.</p>

    <p>2.2. Виконавець має право:</p>
    <p>2.2.1. Відмовити у виконанні зобов'язань за Договором / наданні окремих Послуг за Договором у разі порушення Замовником (або особою, від імені якої він діє) Правил, інших умов Договору та / або загальноприйнятих норм і правил поведінки в громадських місцях (появи в алкогольному сп'янінні, стані наркотичного отруєння, прояві неповажного ставлення до оточуючих тощо); при цьому вартість оплачених послуг визнається Сторонами штрафом за неналежне виконання умов Договору з боку Замовника.</p>

    <p>2.2.2. Змінювати умови Договору та додатків до нього (включаючи Прейскурант) на послуги в односторонньому порядку, розміщуючи їх на Сайті / в приміщенні Курсів.</p>

    <p>2.2.3. Складати розклад занять, визначати персональний склад викладачів на свій розсуд; вносити зміни в чинне розклад занять, міняти викладачів, умови відвідування окремих груп, закривати одну або кілька груп без узгодження з Замовником (за умови відшкодування вартості вже оплачених занять).</p>

    <p>2.3. Замовник зобов'язується:</p>
    <p>2.3.1. До моменту укладення Договору (оплати занять) ознайомитися зі змістом Договору (Пропоновані можливості), Правилами, Прейскурантом.</p>

    <p>2.3.2. Своєчасно вносити плату за Договором в розмірі, порядку та на умовах, передбачених цим Договором; пред'являти документ, що підтверджує здійснення оплати послуг завчасно (до початку занять в оплачуваному періоді).</p>

    <p>2.3.3. Дотримуватися режиму роботи та Правила Курсів, забезпечувати присутність особи, від імені якої він діє на законних підставах, на обраних Замовником заняттях згідно затвердженого розкладу Курсів;</p>

    <p>2.3.4. У разі надання послуг неповнолітній особі, від імені якого на законних підставах діє Замовник, - особисто передавати і забирати таку особу у викладача,  або іншого уповноваженого; в разі необхідності виконання даного зобов'язання іншою особою - надати такій особі нотаріально посвідчену довіреність, що засвідчує відповідні повноваження, надати можливість Виконавцю ознайомитися з такою довіреністю;</p>

    <p>2.3.5. Дотримуватися правил поведінки і техніки безпеки при відвідуванні курсів;</p>

    <p>2.3.6. Повідомляти Виконавця або його представника про обставини, що перешкоджають заняттям на курсі (в тому числі за станом здоров'я).</p>

    <p>2.3.7. При необхідності виконувати завдання по підготовці до занять, а також всі рекомендації викладача під час занять;</p>

    <p>2.4. Замовник має право:</p>
    <p>2.4.1. Відвідувати заняття в обсязі, передбаченому умовами придбаного курсу і Правилами відвідування курсів.</p>

    <p>2.4.2. Брати участь в акціях (заходах), що проводяться Виконавцем, при дотриманні зазначених у них умов;</p>

    <p>2.4.3. Вносити Виконавцю пропозиції по організації додаткових послуг;</p>

    <p>2.4.4. Вимагати від Виконавця виконання умов Договору;</p>

    <p>2.4.5. Відмовитися від виконання Договору достроково в односторонньому позасудовому порядку за умови попереднього повідомлення про це Виконавця за 3 (три) робочих дня.</p>

    <h2>3. ОПЛАТА ПОСЛУГ</h2>
    <p>3.1. Послуги за Договором виявляються за умови отримання від Виконавця оплати на підставі Прейскуранта, Умов Договору та Правил відвідування курсів.</p>

    <p>3.2. Послуги за договором підлягають оплаті в безготівковому порядку на рахунок, виставлений Виконавцем, або оплачуються готівкою в межах, встановлених законодавством України. Сторони визнають датою оплати день списання грошових коштів, що підлягають сплаті за договором, в повному обсязі з кореспондентського рахунку платника або надходження грошових коштів в касу Виконавця.</p>

    <p>3.3. У разі неможливості виконання послуг, що виникла з вини Замовника, послуги підлягають оплаті в повному обсязі. У разі коли неможливість виконання виникла за обставинами, за які жодна із Сторін не відповідає, Замовник відшкодовує Виконавцю фактично понесені ним витрати.</p>

    <p>3.4. Зміна умов надання послуг (наприклад, терміну дії) можливо у випадках, зазначених в Правилах відвідування курсів.</p>

    <p>3.5. Кількість занять за курсом має бути використано протягом встановленого Виконавцем в прейскуранті терміну; Замовник може зупинити оплату за курсом, попередивши за 3 (три) робочих дні, при цьому після повернення графік занять може бути змінений.</p>

    <h2>4. ПОРЯДОК НАДАННЯ ПОСЛУГ</h2>
    <p>4.1. Послуги надаються в обсязі і на умовах, зазначених в Додатку до Договору на Сайті www.hellopanda.com.ua</p>

    <p>4.2. Замовник відвідує заняття відповідно до встановленого Виконавцем графіку.</p>

    <p>4.3. Замовник може пропустити заняття в зв'язку з його хворобою (безумовна поважна причина) або інша поважна причини, попередивши не менш ніж за 8м годин до початку заняття не більше 3-х (трьох) занять в місяць.</p>

    <p>4.4. Виконавець має право відмовити у перерахунку / поверненні сплачених грошових коштів за невикористані (пропущені) відвідування, якщо Замовник попередив про неможливість відвідування заняття менш ніж за 8м годин до призначеного заняття, зазначені грошові кошти зараховуються в рахунок збитків Виконавця з підготовки та організації заняття.</p>

    <h2>5. ВІДПОВІДАЛЬНІСТЬ СТОРІН</h2>
    <p>5.1. Виконавець не несе відповідальності за шкоду, заподіяну життю і здоров'ю Замовника (особи, від імені якого Замовник діє на законних підставах) у випадках неналежного виконання ним зобов'язань за цим Договором, порушень вимог викладача і Правил.</p>

    <p>5.2. Замовник повністю приймає на себе відповідальність за стан свого здоров'я, а також здоров'я особи, від імені та в інтересах якого Замовник діє на законних підставах.</p>

    <p>5.3. Виконавець не несе відповідальності за технічні незручності, викликані проведенням сезонних, профілактичних і аварійних робіт службами комунального господарства.</p>

    <p>5.4. При настанні обставин непереборної сили, що знаходяться поза розумним передбачення і контролю Сторін, Сторони звільняються від відповідальності за зобов'язаннями, пов'язаними з повним або частковим виконанням Договору під час дії таких обставин або їх наслідків.</p>

    <p>5.5. Спори і / або розбіжності вирішуватимуться Сторонами шляхом переговорів, а в разі недосягнення згоди - відповідно до чинного законодавства України.</p>

    <h2>6. ПОРЯДОК РОЗІРВАННЯ ДОГОВОРУ</h2>
    <p>6.1. Сторони мають право в будь-який час змінити зміст договору. При цьому будь-які зміни та доповнення до договору, його розірвання і припинення мають силу тільки в тому випадку, якщо вони підписані уповноваженими представниками Сторін.</p>

    <p>6.2. Будь-яка із Сторін має право відмовитися від укладення / подальшого виконання Договору у випадках, передбачених Договором та  чинним законодавством України.</p>

    <p>6.3. Всі суперечки і розбіжності, які можуть виникнути за договором або у зв'язку з його виконанням Сторони будуть прагнути вирішити шляхом переговорів, а також в претензійному порядку. Термін розгляду письмової претензії Стороною - 10 (Десять днів) днів з дати її отримання.</p>

    <p>6.4. Претензії пред'являються в письмовій формі і підписуються уповноваженими особами Сторін.</p>

    <h2>7. Інші умови</h2>
    <p>7.1. Всі додатки до Договору є його невід'ємною частиною.</p>

    <p>7.2. У всьому іншому, що не передбачено Договором, Сторони будуть керуватися чинним законодавством України.</p>

    <p>7.3. Сторони зобов'язані в письмовому вигляді інформувати один одного протягом 3 (Трьох) днів про зміну банківських та інших реквізитів, а також про всі інші зміни, що мають істотне значення для повного і своєчасного виконання зобов'язань за Договором.</p>

    <p>7.4. Виконавець має право надавати Замовнику та інші послуги, не передбачені договором і додатком до нього, умови надання таких узгоджуються сторонами окремо.</p>

    <p>7.5. Вчиненням акцепту Замовник підтверджує факт свого безстрокового погодження на отримання, зберігання і обробку Виконавцем своїх персональних даних відповідно до Закону України "Про захист персональних даних", а також факт ознайомлення та згоди з Правилами. Замовник також гарантує, що він не позбавлений дієздатності, не перебуває під опікою і піклуванням, не страждає захворюваннями, що перешкоджають усвідомити зміст Договору та виконати зобов'язання по ньому, а також відсутні обставини, що змушують його до підписання цього Договору на вкрай невигідних для себе умовах; відсутні будь-які встановлені угодами з третіми особами або встановлені законом обмеження за поданням прав та інтересів особи, в інтересах якої він виконує Договір.</p>

    <p>7.6. Поступка прав і обов'язків за Договором з боку Замовника не допускається.</p>

    <h2>ПРАВИЛА ВІДВІДУВАННЯ КУРСІВ ІНОЗЕМНИХ МОВ</h2>
    <h2>1. ЗАГАЛЬНІ ПОЛОЖЕННЯ</h2>
    <p>1.1. Послуги надаються Виконавцем на сайті Курсів за адресою www.hellopanda.com.ua.</p>

    <p>1.2. Відвідування пробного заняття проводиться тільки за попереднім записом.</p>

    <p>1.3. У цих правилах, якщо контекст не вимагає іншого, наведені нижче терміни мають таке значення: Клієнт-фізична особа, якій Виконавець надає послуги. У разі неповноліття його батьки / опікуни або інша довірена / відповідальна особа.</p>

    <p>1.4. Перед початком занять необхідно пройти відповідну процедуру реєстрації: заповнити анкетні дані, надати контактну інформацію.</p>

    <p>1.5. Оплата курсу дозволяє відвідувати напрямок в групі вашого рівня і віку.</p>

    <p>1.6.  Групові та індивідуальні заняття проводяться за розкладом. Тривалість курсу залежить від рівня підготовки Клієнта. Виконавець залишає за собою право замінювати заявленого в розкладі викладача, а також вносити зміни в розклад групових занять з повідомленням в Месенджері, Вайбер, Телеграмм, Whatsapp, смс або дзвінком</p>

    <p>1.7. Виконавець залишає за собою право самостійно здійснювати заміни викладачів. Зазначені в розкладі заняття не передбачають прив'язки до конкретного викладача. Це означає що, в разі заміни конкретного викладача (відпустка, хвороба, тощо.), курс не продовжується, і гроші не повертаються. Заняття, скасовані з вини Виконавця, відновлюються в повному обсязі.</p>

    <p>1.8. Час роботи групи встановлюється Виконавцем. Інформування про дані зміни виробляються на сайті. Оплата, внесена за заняття при замінах викладача і зміни у розкладі групи (в разі наявності груп схожого рівня) не повертається.</p>

    <p>1.9. Виконавець залишає за собою право на закриття групи на свій розсуд.</p>

    <h2>2. ПОРЯДОК ЗАРАХУВАННЯ КОШТІВ ТА ВАРТІСТЬ ПОСЛУГ</h2>
    <p>2.1. Вартість Послуг розміщена в Прейскуранті.</p>

    <p>2.2. Оплата Послуг здійснюється Клієнтом авансовими платежем.</p>

    <p>2.3. Оплачений курс не може передаватися іншій особі.</p>

    <p>2.4. Оплатити курс можна з будь-якого числа місяця.</p>

    <p>2.5. В окремих випадках дозволяється заморозку на два тижні, один раз на курс за попереднім погодженням з Виконавцем за тиждень.</p>

    <p>2.6. Зміни в систему оплати можуть вноситися не частіше ніж один раз на місяць і вступають в силу з початку наступного місяця.</p>

    <p>2.7. Для індивідуальних занять з викладачем, Клієнту необхідно записатися завчасно і зробити попередню оплату за прейскурантом не пізніше ніж за добу до початку індивідуальних занять.</p>

    <p>2.8. Клієнт може перенести або скасувати індивідуальне заняття не пізніше, ніж за 8 годин до його початку. В іншому випадку послуга вважається наданою і повернення сплаченої суми не проводиться.</p>

    <p>2.9. Повернення коштів можливо здійснити тільки при скасування занять з вини школи і в разі відсутності будь-яких груп рівня учня. Повернення проводиться з перерахунком за разовими занять і здійснюється протягом двох тижнів після подачі заяви Клієнтом.</p>

    <h2>3. ПРАВИЛА ВІДВІДУВАННЯ КУРСІВ</h2>
    <p>3.1. Під час заняття забороняється жувати жувальну гумку, голосно і агресивно розмовляти, використовувати ненормативну лексику і робити все, що може негативно позначитися на комфортності проведення заняття.</p>

    <h2>4. Відповідальність</h2>
    <p>4.1. Виконавець не несе відповідальність за недотримання Клієнтом правил техніки безпеки і рекомендацій, одержуваних в ході занять.</p>

    <h2>5. Заключні положення</h2>
    <p>5.1. Поточні адміністративні оголошення, вивішені в школі в загальнодоступних місцях і на сайті школи, обов'язкові для дотримання поряд з даними правилами.</p>

    <p>5.2. Виконавець не несе відповідальності за будь-які несприятливі наслідки, що сталися з вини того, хто навчається, пов'язані з порушенням положень цих Правил.</p>

    <p>5.3. Виконавець залишає за собою право вносити зміни в чинне розклад занять, змінювати і замінювати викладачів і умови відвідування окремих груп без узгодження з Клієнтом, в повідомному порядку і завчасно.</p>

    <p>5.4. Виконання умов цих Правил, положень договору-оферти та інших розпорядчих документів Виконавця є обов'язковим для всіх відвідувачів курсів. Факт наявності договірних відносин між Клієнтом і Виконавцем (оплата послуг, відвідування курсів та ін.) означає ознайомлення Клієнта з договірними умовами і Правилами.</p>

  </section>
{% endblock %}
