{% extends 'public/_base.html' %}

{% load static %}

{% block og_title %}
  {% block title %}Частые вопросы | {{ block.super }}{% endblock %}
{% endblock %}

{% block description %}Ответы на часто задаваемые вопросы об обучении — онлайн школа английского и китайского языка Hello Panda{% endblock %}

{% block content %}

  <h1 class="visually-hidden">Частые вопросы</h1>

  <section class="faq">
    <div class="faq-bg faq-bg__1">
      <img src="{% static 'img/faq-bg-1.svg' %}" alt="">
    </div>
    <div class="faq-bg faq-bg__2">
      <img src="{% static 'img/faq-bg-2.svg' %}" alt="">
    </div>

    {% include 'public/components/section_faq.html' %}

  </section>

{#  {% include 'public/components/section_all_questions.html' %}#}

{% endblock %}
