{% extends 'public/_base.html' %}

{% load static %}

{% block title %}Частые вопросы{% endblock %}

{% block content %}
  <section class="faq">
    <div class="faq-bg faq-bg__1">
      <img src="{% static 'img/faq-bg-1.svg' %}" alt="">
    </div>
    <div class="faq-bg faq-bg__2">
      <img src="{% static 'img/faq-bg-2.svg' %}" alt="">
    </div>

    {% include 'public/components/section_faq.html' %}

  </section>

  {% include 'public/components/section_all_questions.html' %}

{% endblock %}
