{% extends 'public/_base.html' %}

{% load static %}

{% block title %}Процесс обучения{% endblock %}

{% block content %}

  {% include 'public/components/process-section.html' %}

  <section class="stages">
    <div class="stages-mob">
      <svg width="375" height="230" viewBox="0 0 375 230" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M-62.9426 105.515C-62.9426 105.515 17.1384 -56.8903 151.319 30.6736C285.5 118.238 433 10.0178 433 10.0178L377.585 230C377.585 230 -71 200.064 -71 199.066C-71 198.068 -62.9426 105.515 -62.9426 105.515Z" fill="#5F9F84"></path><path d="M-10.8814 88.5707C-10.8814 88.5707 59.8693 -54.1917 178.417 22.7816C296.964 99.7549 293.768 78.9216 354.058 83.7462C414.349 88.5707 378.32 198 378.32 198C378.32 198 -18 171.684 -18 170.807C-18 169.93 -10.8814 88.5707 -10.8814 88.5707Z" fill="#FFB42D"/>
      </svg>
    </div>
    <div class="stages-bg"></div>
    <div class="wrapper">
      <div class="section-top" data-aos="fade-up" data-aos-duration="500" data-aos-once="true">
        <span class="section-subtitle">Learning stages</span>
        <h2 class="section-title">Этапы обучения</h2>
      </div>
      <div class="stages-row">
        <div class="stages-col" data-aos="fade-up" data-aos-duration="500" data-aos-once="true">
          <div class="stages-wrap">
            <span class="stages-num">1</span>
            <h3 class="stages-title">Бесплатный урок</h3>
            <p>Бесплатный пробный урок позволит разобраться в методах преподавания и подходе нашей школы. На бесплатном занятии преподаватель проверит уровень владения языком, а также подберет нужную программу и материалы для ученика.</p>
          </div>
        </div>
        <div class="stages-col" data-aos="fade-up" data-aos-duration="500" data-aos-once="true">
          <div class="stages-wrap">
            <span class="stages-num">2</span>
            <h3 class="stages-title">Выбор графика и оплата</h3>
            <p>Если ученик решил продолжать обучение с нашей школой, он может выбрать себе график учебы и оплатить занятия. Все преподаватели нашей школы занимаются с учениками индивидуально, поэтому ученику не нужно подстраиваться под ритм группы.</p>
          </div>
        </div>
        <div class="stages-col" data-aos="fade-up" data-aos-duration="500" data-aos-once="true">
          <div class="stages-wrap">
            <span class="stages-num">3</span>
            <h3 class="stages-title">Доступ к урокам</h3>
            <p>После выбора графика и оплаты занятий, ученик получит доступ в личный кабинет, где будут все материалы для уроков. Интерфейс Hello Panda очень простой в использовании, но для наших самых юных учеников может понадобиться помощь старших.</p>
          </div>
        </div>
        <div class="stages-col" data-aos="fade-up" data-aos-duration="500" data-aos-once="true">
          <div class="stages-wrap">
            <span class="stages-num">4</span>
            <h3 class="stages-title">Регулярные отчеты</h3>
            <p>Учиться с Hello Panda весело, но мы не забываем следить за успеваемостью ученика. Постоянные тестирования и отчеты позволят следить за прогрессом ученика и видоизменять программу в случае нерезультативности действующей программы.</p>
          </div>
        </div>
      </div>
      <div class="stages-bottom">
        <p data-aos="fade-up" data-aos-duration="500" data-aos-once="true">Обучение с Hello Panda позволит ученикам перейти языковые барьеры и раскрыть себя с новых сторон. В процессе обучения ученики, их родители и преподаватели тесно взаимодействуют друг с другом и вместе подбирают подходящую программу и план занятий. Это позволяет выстроить обучение самым эффективным образом.</p>
      </div>
    </div>
  </section>

  {% include 'public/components/form_trial_lesson.html' %}

{% endblock %}
