{% load static %}
<div class="footer-bg footer-bg__1">
  <img src="{% static 'img/footer-bg-1.svg' %}" alt="">
</div>
<div class="footer-bg footer-bg__2">
  <img src="{% static 'img/footer-bg-2.svg' %}" alt="">
</div>
<div class="wrapper">
  <div class="footer-top">
    <ul class="footer-list">
      <li><a href="{% url 'public_side:process' %}">Обучение</a></li>
      <li><a href="{% url 'public_side:about' %}">О школе</a></li>
      {#      <li><a href="#">Преподавателям</a></li>#}
      {#      <li><a href="#">Карьера</a></li>#}
      <li><a href="{% url 'public_side:testimonials' %}">Отзывы</a></li>
      <li><a href="{% url 'public_side:contacts' %}">Контакты</a></li>
    </ul>

    {% include 'public/components/footer_social.html' %}

  </div>

  <div class="footer-bottom">
    <div class="footer-row">
      <div class="footer-logo">
        <a href="{% url 'public_side:index' %}">
          <img src="{% static 'img/footer-logo.svg' %}" alt="">
        </a>
      </div>
      <p>Все права защищены. 2020.</p>
    </div>
    {#    <ul>#}
    {#      <li><a href="#">Privacy Policy</a></li>#}
    {#      <li><a href="#">Terms and Conditions</a></li>#}
    {#    </ul>#}
  </div>
</div>
