{% load static %}
<section class="join">
  <div class="wrapper">
    <div class="join-wrap">
      <div class="join-bg join-bg__1">
        <img src="{% static 'img/join-bg-1.svg' %}" alt="">
      </div>
      <div class="join-bg join-bg__2">
        <img src="{% static 'img/join-bg-2.svg' %}" alt="">
      </div>
      <h2 class="join-title">ЗАПИШИСЬ НА БЕСПЛАТНЫЙ ВВОДНЫЙ УРОК !</h2>

      <div class="join-form">
        <form method="post">
          {% csrf_token %}

          <div class="input-block">
            <div class="input-wrap">
              <input type="text" name="name" placeholder="Имя">
            </div>
          </div>
          <div class="input-block">
            <div class="input-wrap">
              <input type="email" name="email" placeholder="Эмеил">
            </div>
          </div>
          <div class="input-block">
            <div class="input-wrap">
              <input type="tel" name="tel" placeholder="Телефон">
            </div>
          </div>
          <div class="join-checkbox">
            <div class="checkbox">
              <input type="checkbox" checked>
              <span class="checkbox-ico">
                <svg enable-background="new 0 0 515.556 515.556" height="512" viewBox="0 0 515.556 515.556" width="512" xmlns="http://www.w3.org/2000/svg">
                  <path d="m0 274.226 176.549 176.886 339.007-338.672-48.67-47.997-290.337 290-128.553-128.552z"/>
                </svg>
              </span>
              <p>Я принимаю <a href="#">условия</a> соглашения</p>
            </div>
          </div>
          <div class="join-img">
            <img src="{% static 'img/join-img.svg' %}" alt="">
          </div>
          <button class="main-btn">Отправить заявку</button>

        </form>
      </div>

    </div>
  </div>
</section>
