{% load static %}

<li><a href="{% url 'private_side:lessons' %}">
  <b class="menu-ico"><img src="{% static 'img/menu-ico-14.svg' %}" alt=""></b>
  <span>Занятия</span>
</a></li>

<li class="menu-li"><a href="{% url 'private_side:materials' %}">
  <b class="menu-ico"><img src="{% static 'img/menu-ico-13.svg' %}" alt=""></b>
  <span>Материалы</span>
</a></li>
<li><a href="#">
  <b class="menu-ico"><img src="{% static 'img/menu-ico-15.svg' %}" alt=""></b>
  <span>Задания</span>
</a></li>
<li><a href="#">
  <b class="menu-ico"><img src="{% static 'img/menu-ico-16.svg' %}" alt=""></b>
  <span>Ссылки</span>
</a></li>
<li><a href="#">
  <b class="menu-ico"><img src="{% static 'img/menu-ico-17.svg' %}" alt=""></b>
  <span>Файлы</span>
</a></li>
<li><a href="#">
  <b class="menu-ico"><img src="{% static 'img/menu-ico-18.svg' %}" alt=""></b>
  <span>Темы</span>
</a></li>
<li><a href="#">
  <b class="menu-ico"><img src="{% static 'img/menu-ico-19.svg' %}" alt=""></b>
  <span>Ученики</span>
</a></li>
</ul>
