{% load static %}

<div class="footer-bg footer-bg__1">
  <img src="{% static 'img/footer-bg-1.svg' %}" alt="image">
</div>
<div class="footer-bg footer-bg__2">
  <img src="{% static 'img/footer-bg-2.svg' %}" alt="image">
</div>
<div class="wrapper">
  <div class="footer-top">
    <ul class="footer-list">
      <li><a href="{% url 'public_side:process' %}">Обучение</a></li>
      <li><a href="{% url 'public_side:about' %}">О школе</a></li>
      <li><a href="{% url 'public_side:testimonials' %}">Отзывы</a></li>
      <li><a href="{% url 'public_side:contacts' %}">Контакты</a></li>
    </ul>

    {% include 'public/components/footer_social.html' %}

  </div>

  <div class="footer-bottom">
    <div class="footer-row">
      <div class="footer-logo">
        <a href="{% url 'public_side:index' %}">
          <img src="{% static 'img/footer-logo.svg' %}" width="83" height="21" alt="logo">
        </a>
      </div>
      <p>Все права защищены. 2020</p>
    </div>
  </div>
</div>
