{% load static %}

<div id="modal-checkIn" class="modal-tab">
  <div class="section-top">
    <span class="section-subtitle">send a request</span>
    <h2 class="section-title">Отправить заявку</h2>
  </div>

  <form id="request-user-form" method="post" onsubmit="event.preventDefault();formSubmitHandler(this);return false">
    {% csrf_token %}

{#    <div class="input-block">#}
{#      <p class="text-error">Логин или пароль введен не верно!</p>#}
{#    </div>#}

    {% include 'public/components/input_form_request.html' %}

    <div class="modal-btns modal-btns__big">
      <button class="second-btn">Отправить заявку</button>
    </div>

  </form>
</div>
