{% load static %}

<section class="join">
  <div class="wrapper">
    <div class="join-wrap">
      <div class="join-bg join-bg__1">
        <img src="{% static 'img/join-bg-1.svg' %}" alt="">
      </div>
      <div class="join-bg join-bg__2">
        <img src="{% static 'img/join-bg-2.svg' %}" alt="">
      </div>
      <h2 class="join-title">ЗАПИШИСЬ НА БЕСПЛАТНЫЙ ВВОДНЫЙ УРОК !</h2>

      <div class="join-form">
        <form id="request-user-form" method="post" onsubmit="event.preventDefault();formSubmitHandler(this);return false">
          {% csrf_token %}

          {% include 'public/components/input_form_request.html' %}

          <div class="join-img">
            <img src="{% static 'img/join-img.svg' %}" alt="">
          </div>

          <button class="main-btn">Отправить заявку</button>

        </form>
      </div>

    </div>
  </div>
</section>
