{% load static %}

<div id="modal-logging" class="modal-tab">
  <div class="section-top">
    <span class="section-subtitle">enter</span>
    <h2 class="section-title">Вход</h2>
  </div>

  <form method="post">
    {% csrf_token %}

    <div class="input-block">
      <div class="input-wrap">
        <input type="email" name="username" placeholder="Эл. почта">
      </div>

      <div class="input-wrap">
        <input type="password" name="password" placeholder="Пароль">
      </div>
    </div>

    <div class="modal-btns">
      <button type="submit" class="second-btn" onclick="gtagHandler('login_form');return true;">Войти</button>
    </div>

    <div class="modal-bottom">
      <p>Забыли пароль? <a class="button-modal" href="modal-restore">Восстановить пароль</a></p>
      <p>Нет аккаунта? <a class="button-modal" href="modal-checkIn">Отправить заявку</a></p>
    </div>

  </form>
</div>
