{% load static %}

<div class="wrapper">
  <div class="header-logo">
    <a href="{% url 'public_side:index' %}">
      <img src="{% static 'img/logo.svg' %}" alt="logo">
    </a>
  </div>

  <div class="header-bar">
    <div class="header-bar__1">
      <svg fill="none" height="27" viewBox="0 0 27 27" width="27" xmlns="http://www.w3.org/2000/svg">
        <path d="M3.375 7.875C3.375 7.25368 3.87868 6.75 4.5 6.75H22.5C23.1213 6.75 23.625 7.25368 23.625 7.875C23.625 8.49632 23.1213 9 22.5 9H4.5C3.87868 9 3.375 8.49632 3.375 7.875ZM3.375 13.5C3.375 12.8787 3.87868 12.375 4.5 12.375H22.5C23.1213 12.375 23.625 12.8787 23.625 13.5C23.625 14.1213 23.1213 14.625 22.5 14.625H4.5C3.87868 14.625 3.375 14.1213 3.375 13.5ZM3.375 19.125C3.375 18.5037 3.87868 18 4.5 18H22.5C23.1213 18 23.625 18.5037 23.625 19.125C23.625 19.7463 23.1213 20.25 22.5 20.25H4.5C3.87868 20.25 3.375 19.7463 3.375 19.125Z" fill="#2F2F2F"></path>
      </svg>
    </div>

    <div class="header-bar__2">
      <svg viewBox="0 0 24 24" width="24" height="24">
        <path d="m 19.071068,4.9289322 a 1,1 0 0 0 -1.414214,0 L 12,10.585786 6.3431458,4.9289322 a 1,1 0 0 0 -1.4142136,0 1,1 0 0 0 0,1.4142136 L 10.585786,12 4.9289322,17.656854 a 1,1 0 0 0 0,1.414214 1,1 0 0 0 1.4142136,0 L 12,13.414214 l 5.656854,5.656854 a 1,1 0 0 0 1.414214,0 1,1 0 0 0 0,-1.414214 L 13.414214,12 19.071068,6.3431458 a 1,1 0 0 0 0,-1.4142136 z"></path>
      </svg>
    </div>
  </div>

  <div class="header-row">
    <div class="header-info">

      <ul class="header-list">
        {% include 'public/components/phone_email.html' %}
      </ul>

      <ul class="header-menu">
        <li class="drop">
          <a href="" class="drop-text">
            Обучение
            <svg width="8" height="5" viewBox="0 0 8 5" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M6.67969 0.00390625L7.5 0.824219L4 4.32422L0.5 0.824219L1.32031 0.00390625L4 2.68359L6.67969 0.00390625Z" fill="#6B6B6B"></path>
            </svg>
          </a>
          <ul class="drop-list">
            <li><a href="{% url 'public_side:process' %}">Процесс обучения</a></li>
            <li><a href="{% url 'public_side:faq' %}">Частые вопросы</a></li>
            <li><a href="{% url 'public_side:price' %}">Стоимость</a></li>
          </ul>
        </li>
        <li><a href="{% url 'public_side:about' %}">О школе</a></li>
        <li><a href="{% url 'public_side:teachers' %}">Преподаватели</a></li>
        <li><a href="{% url 'public_side:testimonials' %}">Отзывы</a></li>
        <li><a href="{% url 'public_side:contacts' %}">Контакты</a></li>
      </ul>
    </div>

    <div class="header-btns">
      {% if request.user.is_authenticated %}
        <a href="{% url 'private_side:index' %}" class="second-btn">Личный кабинет</a>
      {% else %}
        <a href="modal-checkIn" class="button-modal main-btn">Начать бесплатно</a>
        <a href="modal-logging" class="button-modal second-btn">Вход</a>
      {% endif %}
    </div>
  </div>
</div>
