{% load static %}

<div id="modal-overlay" class="modal-overlay"></div>
<div id="modal" class="modal">
  <div class="modal-over scrollbar-outer">
    <div class="modal-wrap">
      <div class="modal-bg modal-bg__mob">
        <img src="{% static 'img/modal-mob.svg' %}" alt="">
      </div>
      <div class="modal-bg modal-bg__1">
        <img src="{% static 'img/modal-1.svg' %}" alt="">
      </div>
      <div class="modal-bg modal-bg__2">
        <img src="{% static 'img/modal-2.svg' %}" alt="">
      </div>
      <div class="modal-img">
        <img src="{% static 'img/modal-img.svg' %}" alt="">
      </div>

      <div class="modal-content">

        {% include 'public/components/form_login.html' %}

        {% include 'public/components/form_recover_password.html' %}

        {#        {% include './form_register.html' %}#}

        {% include 'public/components/form_request_user.html' %}

      </div>
    </div>
  </div>
</div>
