{% load static %}

<section class="process">
  <div class="wrapper">
    <div class="process-info">
      <div class="section-top" data-aos="fade-up" data-aos-duration="500" data-aos-once="true">
        <span class="section-subtitle">How are classes</span>
        <h2 class="section-title">как проходят занятия</h2>
      </div>
      <div class="process-img">
        <img src="{% static 'img/process-img.svg' %}" alt="">
      </div>
      <div class="process-text">
        <ul>
          <li data-aos="fade-up" data-aos-duration="500" data-aos-once="true">- Занятия в школе проходят индивидуально с преподавателем</li>
          <li data-aos="fade-up" data-aos-duration="500" data-aos-once="true">- Hello Panda использует интерактивный подход и новейшие решения</li>
          <li data-aos="fade-up" data-aos-duration="500" data-aos-once="true">- Каждый ученик получает индивидуальные материалы и домашние задания</li>
          <li data-aos="fade-up" data-aos-duration="500" data-aos-once="true">- Регулярные тесты и отчеты позволяют проверять успеваемость ученика</li>
        </ul>
      </div>
    </div>
  </div>
</section>
