{% load static %}

<section class="allQuestions">
  <div class="wrapper">
    <div class="section-top" data-aos="fade-up" data-aos-duration="500" data-aos-once="true">
      <span class="section-subtitle">FAQ</span>
      <h2 class="section-title">Все вопросы</h2>
    </div>
    <div class="allQuestions-wrap">
      <div class="accordeon" data-aos="fade-up" data-aos-duration="500" data-aos-once="true">
        <div class="accordeon-top">
          <h3 class="accordeon-title">Идейные соображения высшего порядка, а также укрепление и развитие</h3>
          <div class="accordeon-arrow">
            <svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M10.5938 0.578125L12 1.98438L6 7.98438L0 1.98438L1.40625 0.578125L6 5.17188L10.5938 0.578125Z" fill="#F8FFFC"></path>
            </svg>
          </div>
        </div>
        <div class="accordeon-block">
          <div class="accordeon-block__wrap">
            <p>Идейные соображения высшего порядка, а также укрепление и развитие структуры позволяет выполнять важные задания по разработке существенных финансовых и административных условий.</p>
          </div>
        </div>
      </div>
      <div class="accordeon" data-aos="fade-up" data-aos-duration="500" data-aos-once="true">
        <div class="accordeon-top">
          <h3 class="accordeon-title">Идейные соображения высшего порядка, а также укрепление и развитие</h3>
          <div class="accordeon-arrow">
            <svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M10.5938 0.578125L12 1.98438L6 7.98438L0 1.98438L1.40625 0.578125L6 5.17188L10.5938 0.578125Z" fill="#F8FFFC"></path>
            </svg>
          </div>
        </div>
        <div class="accordeon-block">
          <div class="accordeon-block__wrap">
            <p>Идейные соображения высшего порядка, а также укрепление и развитие структуры позволяет выполнять важные задания по разработке существенных финансовых и административных условий.</p>
          </div>
        </div>
      </div>
      <div class="accordeon" data-aos="fade-up" data-aos-duration="500" data-aos-once="true">
        <div class="accordeon-top">
          <h3 class="accordeon-title">Идейные соображения высшего порядка, а также укрепление и развитие</h3>
          <div class="accordeon-arrow">
            <svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M10.5938 0.578125L12 1.98438L6 7.98438L0 1.98438L1.40625 0.578125L6 5.17188L10.5938 0.578125Z" fill="#F8FFFC"></path>
            </svg>
          </div>
        </div>
        <div class="accordeon-block">
          <div class="accordeon-block__wrap">
            <p>Идейные соображения высшего порядка, а также укрепление и развитие структуры позволяет выполнять важные задания по разработке существенных финансовых и административных условий.</p>
          </div>
        </div>
      </div>
      <div class="accordeon" data-aos="fade-up" data-aos-duration="500" data-aos-once="true">
        <div class="accordeon-top">
          <h3 class="accordeon-title">Идейные соображения высшего порядка, а также укрепление и развитие</h3>
          <div class="accordeon-arrow">
            <svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M10.5938 0.578125L12 1.98438L6 7.98438L0 1.98438L1.40625 0.578125L6 5.17188L10.5938 0.578125Z" fill="#F8FFFC"></path>
            </svg>
          </div>
        </div>
        <div class="accordeon-block">
          <div class="accordeon-block__wrap">
            <p>Идейные соображения высшего порядка, а также укрепление и развитие структуры позволяет выполнять важные задания по разработке существенных финансовых и административных условий.</p>
          </div>
        </div>
      </div>
      <div class="accordeon" data-aos="fade-up" data-aos-duration="500" data-aos-once="true">
        <div class="accordeon-top">
          <h3 class="accordeon-title">Идейные соображения высшего порядка, а также укрепление и развитие</h3>
          <div class="accordeon-arrow">
            <svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M10.5938 0.578125L12 1.98438L6 7.98438L0 1.98438L1.40625 0.578125L6 5.17188L10.5938 0.578125Z" fill="#F8FFFC"></path>
            </svg>
          </div>
        </div>
        <div class="accordeon-block">
          <div class="accordeon-block__wrap">
            <p>Идейные соображения высшего порядка, а также укрепление и развитие структуры позволяет выполнять важные задания по разработке существенных финансовых и административных условий.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
