{% load static %}

<div class="wrapper">
  <div class="section-top" data-aos="fade-up" data-aos-duration="500" data-aos-once="true">
    <span class="section-subtitle">FAQ</span>
    <h2 class="section-title">частые вопросы</h2>
  </div>
  <div class="faq-row grid">
    <div class="grid-item" data-aos="fade-up" data-aos-duration="500" data-aos-once="true">
      <div class="faq-wrap">
        <h3 class="faq-title">Для каких уровней подходит изучение китайского и английского на платформе Hello Panda?</h3>
        <p>В Hello Panda могут обучаться только начинающие изучение языка энтузиасты, так и желающие улучшить уровень владения языком. Наша школа подходит как детям с 4-х лет, так и взрослым.</p>
      </div>
    </div>
    <div class="grid-item" data-aos="fade-up" data-aos-duration="500" data-aos-once="true">
      <div class="faq-wrap">
        <h3 class="faq-title">Насколько сложный интерфейс платформы?</h3>
        <p>Пользоваться нашим сервисом очень просто, но самым юным ученикам нашей школы может понадобится помощь родителей.</p>
      </div>
    </div>
    <div class="grid-item" data-aos="fade-up" data-aos-duration="500" data-aos-once="true">
      <div class="faq-wrap">
        <h3 class="faq-title">Как часто нужно заниматься?</h3>
        <p>Мы рекомендуем интенсив - 2-4 урока в неделю, чтобы сохранять и улучшать качество обучения. При желании можно увеличить или уменьшить количество занятий.</p>
      </div>
    </div>
    <div class="grid-item" data-aos="fade-up" data-aos-duration="500" data-aos-once="true">
      <div class="faq-wrap">
        <h3 class="faq-title">Как проводятся занятия?</h3>
        <p>Занятия проводятся индивидуально с преподавателем, родители также могут участвовать на занятиях, чтобы проверять качество обучения их деток.</p>
      </div>
    </div>
    <div class="grid-item" data-aos="fade-up" data-aos-duration="500" data-aos-once="true">
      <div class="faq-wrap">
        <h3 class="faq-title">Сколько стоит обучение ?</h3>
        <p>Hello Panda всячески поддерживает и стимулирует желающих изучать язык. Если ученик усердно старается - стоимость начнет падать, а если он приведет друга, то оба получат бесплатные уроки.</p>
      </div>
    </div>
    <div class="grid-item" data-aos="fade-up" data-aos-duration="500" data-aos-once="true">
      <div class="faq-wrap">
        <h3 class="faq-title">Чем Hello Panda лучше других школ?</h3>
        <p>Наша опытная команда специалистов прочувствовала все этапы обуздания иностранных языков. Мы обучались за рубежом, работаем с людьми из разных стран и постоянно развиваемся. Получив ценный опыт, мы смогли внести свои коррективы в классические методы обучения и смогли создать эффективную методику преподавания. А еще – мы очень любим детей и знаем, как нужно выстроить обучение с каждым из деток.</p>
      </div>
    </div>
  </div>
</div>
