<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8">
	<title>title</title>
	<meta name="description" content="">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!--<meta property="og:image" content="path/to/image.jpg">
	<link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" href="img/favicon/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png">-->
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
	<link rel="stylesheet" href="css/main.min.css">
	<meta name="theme-color" content="#000">
	<meta name="msapplication-navbutton-color" content="#000">
	<meta name="apple-mobile-web-app-status-bar-style" content="#000">
</head>
<body>
	<div class="sitemap">
		<div class="wrapper">
			<h2 class="sitemap-title">Основные страницы</h2>
			<ul class="sitemap-list">
				<li>1.<a href="http://hubartwork.github.io/panda/" target="_blank">Главная</a></li>
				<li>2.<a href="http://hubartwork.github.io/panda/process.html" target="_blank">Процесс</a></li>
				<li>3.<a href="http://hubartwork.github.io/panda/teachers.html" target="_blank">Преподаватели</a></li>
				<li>4.<a href="http://hubartwork.github.io/panda/faq.html" target="_blank">Вопрос- ответ</a></li>
				<li>5.<a href="http://hubartwork.github.io/panda/price.html" target="_blank">Стоимость</a></li>
				<li>6.<a href="http://hubartwork.github.io/panda/about.html" target="_blank">О школе</a></li>
				<li>7.<a href="http://hubartwork.github.io/panda/testimonials.html" target="_blank">Отзывы</a></li>
				<li>8.<a href="http://hubartwork.github.io/panda/contacts.html" target="_blank">Контакты</a></li>
				<li>9.<a href="http://hubartwork.github.io/panda/notFound.html" target="_blank">404</a></li>
			</ul>
			<h2 class="sitemap-title">Личный кабинет</h2>
			<ul class="sitemap-list">
				<li>1.<a href="http://hubartwork.github.io/panda/personalArea-main.html" target="_blank">Главная</a></li>
				<li>2.<a href="http://hubartwork.github.io/panda/games.html" target="_blank">Игры</a></li>
				<li>3.<a href="http://hubartwork.github.io/panda/game.html" target="_blank">Поймай рыбку - игра</a></li>
				<li>4.<a href="http://hubartwork.github.io/panda/lessons.html" target="_blank">Занятия</a></li>
				<li>5.<a href="http://hubartwork.github.io/panda/notes.html" target="_blank">Мои заметки</a></li>
				<li>6.<a href="http://hubartwork.github.io/panda/vocabulary.html" target="_blank">Мой словарь</a></li>
				<li>7.<a href="http://hubartwork.github.io/panda/vocabulary-2.html" target="_blank">Мой словарь -> Изучение</a></li>
				<li>8.<a href="http://hubartwork.github.io/panda/video-practice.html" target="_blank">Видео практика</a></li>
				<li>9.<a href="http://hubartwork.github.io/panda/video.html" target="_blank">Видео практика -> Практика</a></li>
				<li>10.<a href="http://hubartwork.github.io/panda/test.html" target="_blank">Тесты</a></li>
				<li>11.<a href="http://hubartwork.github.io/panda/test-1.html" target="_blank">Тест</a></li>
				<li>12.<a href="http://hubartwork.github.io/panda/free-lesson.html" target="_blank">Получи бесплатные уроки</a></li>
				<li>13.<a href="http://hubartwork.github.io/panda/courses.html" target="_blank">Курсы</a></li>
				<li>14.<a href="http://hubartwork.github.io/panda/timetables.html" target="_blank">Расписание</a></li>
				<li>15.<a href="http://hubartwork.github.io/panda/videoCall.html" target="_blank">VideoCall</a></li>
				<li>16.<span>Пополнить счет(модалка) - </span><a href="http://hubartwork.github.io/panda/personalArea-main.html" target="_blank">Пример тут!</a></li>
				<li>17.<a href="http://hubartwork.github.io/panda/courses.html" target="_blank">Курсы(2)</a></li>
				<li>18.<a href="http://hubartwork.github.io/panda/choice.html" target="_blank">Выбор курса</a></li>
				<li>19.<a href="http://hubartwork.github.io/panda/testing-drag.html" target="_blank">Тест. Drag&Drop</a></li>
				<li>20.<a href="http://hubartwork.github.io/panda/testing-2.html" target="_blank">Тест с одним правильным вариантом ответа</a></li>
				<li>21.<a href="http://hubartwork.github.io/panda/testing-3.html" target="_blank">Тест с несколькими вариантами ответа</a></li>
				<li>22.<a href="http://hubartwork.github.io/panda/testing-4.html" target="_blank">Рисовать на картинке (учитель и ученик одновременно)</a></li>
				<li>23.<a href="http://hubartwork.github.io/panda/testing-5.html" target="_blank">Написать пропущенное слово</a></li>
				<li>24.<a href="http://hubartwork.github.io/panda/testing-6.html" target="_blank">Видео (запускать и ставить на паузу может учитель и ученик)</a></li>
				<li>25.<a href="http://hubartwork.github.io/panda/testing-7.html" target="_blank">Прослушивать аудио (запускать и ставить на паузу может учитель и ученик)</a></li>
				<li>26.<a href="http://hubartwork.github.io/panda/homework.html" target="_blank">Домашние задания</a></li>
				<li>27.<a href="http://hubartwork.github.io/panda/settings.html" target="_blank">Настройка профиля</a></li>
				<li>28.<a href="http://hubartwork.github.io/panda/teacher.html" target="_blank">ЛК Учителя</a></li>
				<li>29.<a href="http://hubartwork.github.io/panda/timetables.html" target="_blank">Расписание(2)</a></li>
				<li>30.<a href="http://hubartwork.github.io/panda/methods.html" target="_blank">Материалы</a></li>
				<li>31.<a href="http://hubartwork.github.io/panda/courses.html" target="_blank">Курсы</a></li>
				<li>32.<a href="http://hubartwork.github.io/panda/lessons.html" target="_blank">Занятия</a></li>
				<li>33.<a href="http://hubartwork.github.io/panda/tasks.html" target="_blank">Задания</a></li>
				<li>34.<a href="http://hubartwork.github.io/panda/test-1-1.html" target="_blank">Проверка Задания</a></li>
				<li>35.<a href="http://hubartwork.github.io/panda/materials.html" target="_blank">Ссылки</a></li>
				<li>36.<a href="http://hubartwork.github.io/panda/file.html" target="_blank">Файлы</a></li>
				<li>37.<a href="http://hubartwork.github.io/panda/theme.html" target="_blank">Темы и Темы -> Dropdown</a></li>
				<li>38.<a href="http://hubartwork.github.io/panda/students.html" target="_blank">Ученики</a></li>
				<li>39.<a href="http://hubartwork.github.io/panda/auto.html" target="_blank">Автоматический подсчет баллов</a></li>
				<li>40.<a href="http://hubartwork.github.io/panda/assessment.html" target="_blank">Оценивание вручную</a></li>
				<li>41.<a href="http://hubartwork.github.io/panda/trueOrFalse.html" target="_blank">Тест. True or False</a></li>
				<li>42.<a href="http://hubartwork.github.io/panda/drag.html" target="_blank">Тест. Drag&Drop</a></li>
				<li>43.<a href="http://hubartwork.github.io/panda/drag.html" target="_blank">Тест. Сапоставить слова</a></li>
			</ul>
		</div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
	<script src="js/scripts.min.js"></script>
</body>
</html>