@use "sass:math";

@import "~vue3-perfect-scrollbar/dist/vue3-perfect-scrollbar.css";


#chat {
  position: absolute;
  top: calc(50% - #{math.div($menu-width, 2)});
  left: calc(50% - #{math.div($menu-width, 2)});

  width: $menu-width;
  height: 400px;
  //padding: 16px;

  overflow: hidden;
  box-sizing: border-box;
  border-color: black;
  border-style: solid;
  border-width: 1px;

  background-color: white;

  //z-index: 5;
}

.chat-wrapper {
  position: relative;

  height: 100%;
  width: inherit;
  padding: 16px;

  overflow: hidden;
}

.chat-group {

  a {
    display: block;

    margin-bottom: 16px;

    cursor: pointer;
  }
  a:last-child {
    margin-bottom: 0;
  }

  .user-aria {
    user-select: none;

    border-color: #ffb42d;

    background-color: #ffb42d;

  }

  .user-aria:hover {
    box-shadow: 0 4px 4px rgba(0, 0, 0, .2);
  }
  .user-aria:active {
    box-shadow: 0 4px 4px rgba(0, 0, 0, .2);

    border-color: #5f9f84;

    background-color: #5f9f84;
  }
  .user-aria:focus {
    border-color: #5f9f84;

    background-color: #5f9f84;
  }
}

.chat-message {
  position: relative;

  width: 328px;
  height: 100%;
  padding-top: 72px;
  padding-bottom: 72px;

  border-style: solid;
  border-width: 1px;
  border-color: #5f9f84;
  border-radius: 10px;

  .user-aria {
    position: absolute;
    top: -1px;
    left: -1px;

    //width: inherit;
    padding-left: 20px;
    padding-right: 20px;

    background-color: #5f9f84;

    border-color: #5f9f84;

    z-index: 3;

    .content {
      justify-content: center;
    }
  }

  .messages_list {
    height: 100%;
    padding-left: 16px;
    padding-right: 16px;

    overflow: hidden;

    div[class~='messages_list_item']:last-of-type {
      margin-bottom: 0;
    }
  }

  .messages_list_item,
  .message_input {
    position: relative;

    padding: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .messages_list_item {
    height: auto;
    margin-bottom: 16px;
  }
  .messages_list_item p {
    min-height: 32px;
    color: #6b6b6b;
  }
  .messages_list_item--left {
    margin-right: 88px;
    border-color: #5f9f84;
    border-top-left-radius: 0;
  }
  .messages_list_item--right {
    margin-left: 88px;
    border-color: #ffb42d;
    border-bottom-right-radius: 0;
  }

  .message_input {
    position: absolute;
    bottom: -1px;
    left: -1px;

    padding-right: 56px;

    border-color: #5f9f84;

    textarea {
      width: 100%;
      height: 32px;

      border: none;
      resize: none;
    }

    .message_input_button {
      position: absolute;

      right: 15px; // border 1px
      top: calc(50% - #{math.div(24px, 2)});
    }
  }
}

.box_item {
  width: inherit;
  height: 56px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;

  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  overflow: hidden;

  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  color: #f8fffc;

  //transition: box-shadow .2s, background .2s;
}

.user-aria {
  position: relative;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: left;
  align-items: center;

  transition-property: all;
  transition-duration: .2s;
  transition-timing-function: ease;

  .arrow_left {
    margin-right: 20px;
  }

  .avatar {
    display: block;

    width: 48px;
    min-width: 48px;
    height: 48px;
    margin-right: 8px;

    overflow: hidden;
    position: relative;
  }
  .avatar img {
    display: block;
    position: absolute;

    top: 50%;
    left: 50%;

    width: 48px;
    height: 48px;

    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 3px solid #f8fffc;
    object-fit: cover;
  }
  .content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;

    width: 186px;
    height: 40px;
  }
  .content span {
    width: 100%;

    font-style: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .content span:first-child {
    font-weight: bold;
  }
}

.arrow_left {
  position: relative;

  width: 24px;
  height: 24px;

  box-sizing: border-box;
  border-color: #f8fffc;
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;

  cursor: pointer;

  svg {
    position: absolute;
    top: calc(50% - #{math.div(24px, 2)});
    left: calc(50% - #{math.div(24px, 2)});
  }

  .arrow_left__element {
    fill: #f8fffc;
  }
}

.message_input_button {
  position: relative;

  width: 24px;
  height: 24px;

  cursor: pointer;

  svg {
    position: absolute;
    top: calc(50% - #{math.div(24px, 2)});
    left: calc(50% - #{math.div(24px, 2)});
  }

  .message_input_button__element {
    fill: #5f9f84;
  }
}


.fade-enter-active,
.fade-leave-active {
  transition: opacity .2s ease;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
