{% load static private_side_extras %}

<!DOCTYPE html>
<html lang="ru">
<head>

  {% include 'common/head.html' %}

  <title>{% block title %}{% endblock %}</title>

</head>
<body class="bodyLk">

{% include 'private/components/header.html' %}

<section class="personalArea personalArea-active"> <!-- Левое меню скрыто (personalArea-active)-->

  {% include 'private/components/left_menu.html' %}

  {% block content %}{% endblock %}

</section>

<div id="snackbar"></div>
<div id="chat"></div>

{#<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>#}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://api.fondy.eu/static_common/v1/checkout/ipsp.js"></script>

{% block script %}{% endblock %}

<script src="{% static 'js/main_private.js' %}"></script>

{{ 'DEBUG'|get_settings_var|json_script:'DEBUG' }}
{{ 'MERCHANT_ID'|get_settings_var|json_script:'MERCHANT_ID' }}

<script>
  // Fondy
  const DEBUG = JSON.parse(document.getElementById('DEBUG').textContent)
  const MERCHANT_ID = JSON.parse(document.getElementById('MERCHANT_ID').textContent)

  function createOrder(paid_for_lessons, amount, course_id) {

    const button = $ipsp.get('button')
    button.setMerchantId(MERCHANT_ID)
    button.setAmount(amount, 'UAH', !DEBUG)
    button.setResponseUrl(`${window.location.origin}/payment-callback/`)
    button.setHost('api.fondy.eu')
    button.addField({
      label: 'Промо код',
      name: 'bonus_id'
    })
    button.addField({
      label: 'Количество занятий',
      name: 'paid_for_lessons',
      value: `${paid_for_lessons}`,
      readonly: true
    })
    button.addField({
      label: 'ID Ученика',
      name: 'student_id',
      value: `{{ user.student.pk }}`,
      readonly: true,
      hidden: true
    })
    button.addField({
      label: 'ID курса',
      name: 'course_id',
      value: `${course_id}`,
      readonly: true,
      hidden: true
    })
    window.open(button.getUrl())
    return false
  }

  // Reschedule lesson
  const client = axios.create({
    baseURL: `${window.location.origin}/lk/`,
    contentType: 'application/json; charset=utf-8',
    withCredentials: true,
    xsrfCookieName: 'csrftoken',
    xsrfHeaderName: 'X-CSRFToken',
  })

</script>

</body>
</html>
