{% extends 'private/_base.html' %}

{% load static %}

{% block title %}Описание курса{% endblock %}

{% block content %}
  <div class="personalArea-content">

    {% include 'private/components/personal-area-modal.html' %}

    <div class="courses">
      <div class="courses-col courses-col__big">
        <div class="courses-wrap">
          <div class="courses-img">
            <img src="{{ object.image.url }}" alt="{{ object.title }}">
          </div>
          <div class="courses-info">
            <span class="courses-name">{{ object.title }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="choice">
      <div class="choice-top">
        <p>{{ object.description }}</p>
      </div>
      <div class="choice-block">
        <div class="choice-row">

          {% for package_of_lessons in object.package_of_lessons.all %}

            {% widthratio package_of_lessons.cost package_of_lessons.count 1 as price %}

            <div class="choice-col">
              <div class="choice-wrap">
                <span class="choice-num">{{ package_of_lessons.count }} занятия</span>

                <span class="choice-price">{{ price|floatformat:"0" }} грн./занятие</span>

                <a
                  class="choice-allPrice topUpAccount-btn active"
                  href=""
                  target="_blank"
                  onclick="createOrder(
                    `{{ package_of_lessons.count }}`,
                    `{{ package_of_lessons.cost }}`,
                    `{{ object.pk }}`)"
                >
                  <b>{{ package_of_lessons.cost }} грн.</b>
                </a>

              </div>
            </div>
          {% endfor %}

        </div>
      </div>
    </div>
  </div>
{% endblock %}
