{% extends 'private/_base.html' %}

{% load static %}

{% block title %}Все курсы{% endblock %}

{% block content %}
  <div class="personalArea-content">
    <div class="courses">

      {% for course in object_list %}
        <div class="courses-col">
          <a href="{% url 'private_side:course_detail' course.pk %}" class="courses-wrap">
            <div class="courses-img">
              <img src="{{ course.image.url }}" alt="{{ course.title }}">
            </div>
            <div class="courses-info">
              <span class="courses-name">{{ course.title }}</span>
            </div>
          </a>
        </div>
      {% empty %}
        <div class="courses-col">Нет курсов</div>
      {% endfor %}

    </div>
  </div>
{% endblock %}
