{% extends 'private/_base.html' %}

{% load static %}

{% block og_title %}
  {% block title %}Бесплатные уроки | {{ block.super }}{% endblock %}
{% endblock %}

{% block content %}

  <h1 class="visually-hidden">Бесплатные уроки</h1>

  <div class="personalArea-content">
    <div class="personalArea-block">
      <div class="personalArea-block__top">
        <span class="personalArea-block__title">Бесплатные уроки</span>
        <div class="personalArea-block__top-b"></div>
      </div>
      <div class="lesson-row">
        <div class="lesson-col lesson-col__1">
          <span class="lesson-title">Поделись</span>

          <div id="lesson-1" class="lesson-input lesson-input__copy active">
            <input id="inputCode" type="text" name="link" value="{{ user.student.pk }}" disabled="disabled">
            <div class="tooltip">
              <button class="lesson-link" onclick="copyCode()" onmouseout="outFunc()">
                <span id="myTooltip" class="tooltip__text">Копировать в буфер обмена</span>
                Копировать
              </button>
            </div>
          </div>

          <ul class="lesson-social">

            <li>
              <a href="https://t.me/share/url?url={{ request.scheme }}://{{ request.get_host }}&text={{ account.pk }}" target="_blank">
                <img src="{% static 'img/tg.svg' %}" alt="">
              </a>
            </li>

            <li>
              <a href="https://wa.me/?text={{ account.pk }}" target="_blank">
                <img src="{% static 'img/what.svg' %}" alt="">
              </a>
            </li>

            <li>
              <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.scheme }}://{{ request.get_host }}&t={{ account.pk }}" target="_blank">
                <img src="{% static 'img/fb.svg' %}" alt="">
              </a>
            </li>

            <li>
              <a href="https://vk.com/share.php?url={{ request.scheme }}://{{ request.get_host }}&title={{ account.pk }}" target="_blank">
                <img src="{% static 'img/vk.svg' %}" alt="">
              </a>
            </li>

          </ul>
        </div>

        <div class="lesson-col lesson-col__2">
          <div class="lesson-col__row">
            <span class="lesson-num">1</span>
            <p>Вы делитесь своими кодом любым удобным способом.</p>
          </div>
          <div class="lesson-col__row">
            <span class="lesson-num">2</span>
            <p>Друзья указывают код при первой оплате.</p>
          </div>
          <div class="lesson-col__row">
            <span class="lesson-num">3</span>
            <p>Друг оплачивает курс и вы оба получаете по 2 дополнительных занятия.</p>
          </div>
        </div>
      </div>
    </div>

    {% if payment_bonuses %}

      <div class="personalArea-block">
        <div class="personalArea-block__top">
          <span class="personalArea-block__title">История приглашений</span>
          <div class="personalArea-block__top-b"></div>
        </div>

        <div class="lesson-table">

          {% for payment_bonus in payment_bonuses %}

            <div class="lesson-table__row">
              <div class="lesson-table__col lesson-table__col-1">
                {{ payment_bonus.order_time|date }}
              </div>
              <div class="lesson-table__col lesson-table__col-2">
                <svg width="18" height="14" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M6 11.1719L16.5938 0.578125L18 1.98438L6 13.9844L0.421875 8.40625L1.82812 7L6 11.1719Z" fill="#5F9F84"></path>
                </svg>
                <p>Приглашение принято</p>
              </div>
              <div class="lesson-table__col lesson-table__col-3">
                <span>+{{ payment_bonus.paid_for_lessons }}</span> Урока
              </div>
            </div>

          {% endfor %}

        </div>
      </div>

    {% endif %}
  </div>
{% endblock %}
