{% extends 'private/_base.html' %}

{% load static course_extras %}

{% block og_title %}
  {% block title %}Занятия | {{ block.super }}{% endblock %}
{% endblock %}

{% block content %}

  <h1 class="visually-hidden">Занятия</h1>

  <div class="personalArea-content">
    <div class="personalArea-block">
      <div class="personalArea-block__top">
        <span class="personalArea-block__title">Занятия сегодня</span>
        <div class="personalArea-block__top-b"></div>
      </div>

      <div class="master">
        <div class="master-row">

          {% for schedule in timetable %}
            {% include 'private/components/lesson_item.html' %}
          {% endfor %}

        </div>
      </div>
    </div>
  </div>
{% endblock %}
