{% extends 'private/_base.html' %}

{% load static %}

{% block title %}Настройка профиля{% endblock %}

{% block style %}
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
{% endblock %}

{% block content %}
  <div class="personalArea-content">
    <div class="personalArea-block">
      <div class="personalArea-block__top">
        <div class="personalArea-block__top-row">
          <span class="personalArea-block__title">Информация профиля</span>
        </div>
        <div class="personalArea-block__top-b"></div>
      </div>
      <div class="profile">
        <div class="profile-block profile-main">
          <div class="profile-edit">Редактировать</div>
          <div class="profile-block__wrap">
            <span class="profile-main__subtitle">Основное</span>
            <div class="profile-block__info profile-main__info">

              <form method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="profile-main__row">

                  <div class="profile-main__user">
                    {% if user.is_staff %}
                      <img
                        src="{{ user.teacher.avatar.url }}"
                        alt="{{ user.teacher.avatar.title }}"
                        width="100px"
                        height="100px"
                      >
                    {% else %}
                      <img
                        src="{{ user.student.avatar.url }}"
                        alt="{{ user.student.avatar.title }}"
                        width="100px"
                        height="100px"
                      >
                    {% endif %}
                    <input type="file" name="avatar">
                    <span>Загрузить</span>
                  </div>

                  <div class="profile-main__descr">

                    <div class="profile-main__descr-top">
                      {% if user.is_staff %}
                        <span>Учитель:</span>
                      {% else %}
                        <span>Ученик:</span>
                        {{ user.get_full_name }}
                      {% endif %}
                    </div>

                    <div class="profile-main__descr-row">
                      <ul>
                        <li>
                          <svg width="16" height="12" viewBox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M14.4 3L8 6.75L1.6 3V1.5L8 5.25L14.4 1.5V3ZM14.4 0H1.6C0.712 0 0 0.6675 0 1.5V10.5C0 10.8978 0.168571 11.2794 0.468629 11.5607C0.768687 11.842 1.17565 12 1.6 12H14.4C14.8243 12 15.2313 11.842 15.5314 11.5607C15.8314 11.2794 16 10.8978 16 10.5V1.5C16 0.6675 15.28 0 14.4 0Z" fill="#FFB42D"/>
                          </svg>
                          {{ user.email }}
                        </li>

                        {% if user.phone %}
                          <li>
                            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M2.715 5.8425C3.795 7.965 5.535 9.705 7.6575 10.785L9.3075 9.135C9.5175 8.925 9.81 8.865 10.0725 8.9475C10.9125 9.225 11.8125 9.375 12.75 9.375C12.9489 9.375 13.1397 9.45402 13.2803 9.59467C13.421 9.73532 13.5 9.92609 13.5 10.125V12.75C13.5 12.9489 13.421 13.1397 13.2803 13.2803C13.1397 13.421 12.9489 13.5 12.75 13.5C9.36849 13.5 6.12548 12.1567 3.73439 9.76561C1.3433 7.37452 0 4.13151 0 0.75C0 0.551088 0.0790176 0.360322 0.21967 0.21967C0.360322 0.0790176 0.551088 0 0.75 0H3.375C3.57391 0 3.76468 0.0790176 3.90533 0.21967C4.04598 0.360322 4.125 0.551088 4.125 0.75C4.125 1.6875 4.275 2.5875 4.5525 3.4275C4.635 3.69 4.575 3.9825 4.365 4.1925L2.715 5.8425Z" fill="#FFB42D"/>
                            </svg>
                            {{ user.phone }}
                          </li>
                        {% endif %}

                      </ul>
                    </div>

                    <div class="profile-settings">
                      <div class="profile-settings__row">

                        <div class="profile-settings__input">
                          <div class="input-block">
                            <label for="first_name">Имя</label>
                            <input
                              id="first_name"
                              type="text"
                              name="first_name"
                              value="{{ user.first_name }}"
                            >
                          </div>
                        </div>

                        <div class="profile-settings__input">
                          <div class="input-block">
                            <label for="last_name">Фамилия</label>
                            <input
                              id="last_name"
                              type="text"
                              name="last_name"
                              value="{{ user.last_name }}"
                            >
                          </div>
                        </div>

                        <div class="profile-settings__input">
                          <div class="input-block">
                            <label for="phone">Телефон</label>
                            <input
                              id="phone"
                              type="tel"
                              name="phone"
                              {% if user.is_staff %}
                              value="{{ user.teacher.phone }}"
                              {% else %}
                              value="{{ user.student.phone }}"
                              {% endif %}
                            >
                          </div>
                        </div>

                        <div class="profile-settings__input">
                          <div class="input-block">
                            <button class="main-btn">Сохранить</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
{% endblock %}
