{% extends 'private/_base.html' %}

{% load static private_side_extras %}

{% block title %}Ученики{% endblock %}

{% block content %}
  <div class="personalArea-content">
    <div class="personalArea-block">
      <div class="personalArea-block__top">
        <span class="personalArea-block__title">Ученики</span>
        <div class="personalArea-block__top-b"></div>
      </div>

      <div class="students">
        <div class="students-row">

          {% for current_course in current_courses %}

            <div class="students-col">
              <div class="students-wrap">
                <div class="students-top">
                  <div class="students-img">
                    <img src="{% static 'img/videoCall-user.svg' %}" alt="">
                  </div>
                  <div class="students-top__info">
                    <span class="students-name">{{ current_course.student }}</span>
                    {% if current_course.student.age %}
                      <span class="students-age">Возраст: {{ current_course.student.age }}</span>
                    {% endif %}
                  </div>
                </div>
                <div class="students-block">
                  <span class="students-subtitle">Текущий курс:</span>
{#                  <p><a href="#">{{ current_course.course.title|default:'Пробное занятие' }}</a></p>#}
                  <p>{{ current_course.course.title|default:'Пробное занятие' }}</p>
                </div>
                <div class="students-block">
                  <ul>
                    <li>
                      <a href="mailto:uri2oruio@gmial.com">
                        <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M12.3438 3.34375V2L7 5.34375L1.65625 2V3.34375L7 6.65625L12.3438 3.34375ZM12.3438 0.65625C12.6979 0.65625 13 0.791667 13.25 1.0625C13.5208 1.33333 13.6562 1.64583 13.6562 2V10C13.6562 10.3542 13.5208 10.6667 13.25 10.9375C13 11.2083 12.6979 11.3438 12.3438 11.3438H1.65625C1.30208 11.3438 0.989583 11.2083 0.71875 10.9375C0.46875 10.6667 0.34375 10.3542 0.34375 10V2C0.34375 1.64583 0.46875 1.33333 0.71875 1.0625C0.989583 0.791667 1.30208 0.65625 1.65625 0.65625H12.3438Z" fill="#4A4A4A"></path>
                        </svg>
                        {{ current_course.student.user.email }}
                      </a>
                    </li>

                    {% if current_course.student.phone %}
                      <li>
                        <a href="tel:{{ current_course.student.phone|default:'--' }}">
                          <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M2.40625 5.1875C3.40625 7.125 4.875 8.59375 6.8125 9.59375L8.28125 8.125C8.48958 7.91667 8.71875 7.86458 8.96875 7.96875C9.71875 8.21875 10.5104 8.34375 11.3438 8.34375C11.5312 8.34375 11.6875 8.40625 11.8125 8.53125C11.9375 8.65625 12 8.8125 12 9V11.3438C12 11.5312 11.9375 11.6875 11.8125 11.8125C11.6875 11.9375 11.5312 12 11.3438 12C8.21875 12 5.54167 10.8958 3.3125 8.6875C1.10417 6.45833 0 3.78125 0 0.65625C0 0.46875 0.0625 0.3125 0.1875 0.1875C0.3125 0.0625 0.46875 0 0.65625 0H3C3.1875 0 3.34375 0.0625 3.46875 0.1875C3.59375 0.3125 3.65625 0.46875 3.65625 0.65625C3.65625 1.48958 3.78125 2.28125 4.03125 3.03125C4.11458 3.30208 4.0625 3.53125 3.875 3.71875L2.40625 5.1875Z" fill="#4A4A4A"></path>
                          </svg>
                          {{ current_course.student.phone|default:'--' }}
                        </a></li>
                    {% endif %}

                  </ul>
                </div>

                {% if current_course|get_last_date_lesson is not None %}
                  <div class="students-block">
                    <span class="students-subtitle">Последнее занятие:</span>
                    <p>{{ current_course|get_last_date_lesson|date }}</p>
                  </div>
                {% endif %}

              </div>
            </div>

          {% endfor %}

        </div>
      </div>
    </div>
  </div>
{% endblock %}
