{% extends 'private/_base.html' %}

{% load static private_side_extras %}

{% block title %}Расписание{% endblock %}

{% block content %}
  <div class="personalArea-content">
    <div class="personalArea-block">
      <div class="personalArea-block__top">
        <span class="personalArea-block__title">Расписание</span>
        <div class="personalArea-block__top-b"></div>
      </div>

      <div class="timetables">

        {% for key, week in timetable.items|dictsort:0 %}

          <div class="timetables-block range-slider__wrap">

            {% if forloop.first %}
              <span class="timetables-title">Текущая неделя</span>
            {% endif %}

            {% if forloop.counter0 == 1 %}
              <span class="timetables-title">Следующие недели</span>
            {% endif %}

            <div class="timetables-slider range-slider">

              {% for key, weekday in week.items|dictsort:0 %}

                <div class="timetables-slide">
                  <div class="timetables-wrap">
                    <span class="timetables-subtitle">{{ weekday.date|date }}</span>

                    {% for schedule in weekday.schedule|dictsort:'time' %}

                      <div class="timetables-item {% if not schedule.finished %}active{% endif %}">
                        <div class="timetables-item__top">
                          <span>{{ schedule.time }}</span>
                          <span>{% if schedule.finished %}Пройдено{% else %}Не пройдено{% endif %}</span>
                        </div>
                        <ul>
                          <li>{{ schedule.title|capfirst }}</li>
                          <li>
                            {% if user.is_staff %}
                              Ученик {{ schedule.student }}
                            {% else %}
                              Учитель {{ schedule.teacher|default_if_none:'--' }}
                            {% endif %}
                          </li>
                        </ul>

                      {% if not schedule.finished and not schedule.lesson.datetime|is_time_delta_minutes:'480' %}
                        <button
                          type="button"
                          id="reschedule_lesson"
                          class="second-btn"
                          data-class_name="{{ schedule.lesson|get_classname }}"
                          data-obj_id="{{ schedule.lesson.pk }}"
                          onclick="rescheduleLessonHandler(this)"
                        >Перенести урок</button>
                      {% endif %}

                      </div>

                    {% endfor %}

                  </div>
                </div>

              {% endfor %}

            </div>

            {#            <input type="range" class="range" min="1" value="1" step="1" max="4">#}

          </div>

        {% endfor %}


      </div>

      <div class="personalArea-block__bottom">
        <p class="bottom_text">*Занятие можно переносить не позже чем за 8 часов до начала урока</p>
      </div>
    </div>
  </div>
{% endblock %}
