{% extends 'private/_base.html' %}

{% load static course_extras %}

{% block title %}Словарь{% endblock %}

{% block content %}

  <div class="personalArea-content">
    <div class="personalArea-block">
      <div class="personalArea-block__top">
        <span class="personalArea-block__title">Слова</span>
        <div class="personalArea-block__top-b"></div>
      </div>
      <div class="notes vocabulary">

        {% for paid_course in object_list %}
          {% for paid_course_lesson in paid_course.paid_course_lessons.all %}

            <div class="notes-row">
              <div class="notes-col">
                <div class="notes-col__block">
                  <span class="notes-subtitle">Урок {{ paid_course_lesson.course_lesson.number }}:</span>
                  {#                  <p><a href="#">{{ course_lesson.lesson.title }}</a></p>#}
                  <p>{{ paid_course_lesson.lesson.title }}</p>
                </div>
                <a href="{% url 'private_side:vocabulary_detail' paid_course_lesson.pk %}" class="notes-button">Выучить слова</a>
              </div>
              <div class="notes-col">
                <span class="notes-subtitle">Заметки:</span>
                <ul>
                  {% for note in paid_course_lesson.note|string_lines_to_list %}
                    <li>{{ note }}</li>
                  {% endfor %}
                </ul>
              </div>
            </div>

          {% endfor %}
        {% endfor %}

        {#        <div class="notes-btn">#}
        {#          <a href="" class="second-btn">Показать еще</a>#}
        {#        </div>#}
      </div>
    </div>
  </div>

{% endblock %}
