{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>

  <meta charset="utf-8">
	<meta name="description" content="">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!--<meta property="og:image" content="path/to/image.jpg">
	<link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" href="img/favicon/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png">-->

	<meta name="theme-color" content="#000">
	<meta name="msapplication-navbutton-color" content="#000">
	<meta name="apple-mobile-web-app-status-bar-style" content="#000">

  <title>{% block title %}{% endblock %}</title>

  <link rel="stylesheet" href="{% static 'css/main.min.css' %}">

  {% block style %}{% endblock %}

</head>
<body>

  <header class="header">
    {% include './components/header.html' %}
  </header>

  {% block content %}{% endblock %}

  <footer class="footer">
    {% include './components/footer.html' %}
  </footer>

  {% include './components/modal-form.html' %}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  {% block script %}{% endblock %}

  <script src="{% static 'js/scripts.min.js' %}"></script>
  <script>

    function formSubmitHandler(form) {

      const urls_actions = {
        'login-form': 'login/',
        'register-form': 'register/',
      };

      const protocol = location.protocol == 'http:' ? 'http:' : 'https:'

      const instance = axios.create({
        baseURL: `${protocol}//dev.local:8000/`,
        withCredentials: true,
        xsrfCookieName: 'csrftoken',
        xsrfHeaderName: 'X-CSRFToken',
      });

      instance.post(`${urls_actions[form.id]}`, new FormData(form))
        .then(() => {
          window.location.href = 'lk/';
        })
        .catch((e) => {
          console.log(e)
        });
    }
  </script>

</body>
</html>
