{% extends './_base.html' %}

{% load static %}

{% block title %}Бесплатные уроки - ЛК{% endblock %}

{% block content %}
<div class="personalArea-content">
	<div class="courses">

		<div class="courses-col">
			<a href="#" class="courses-wrap">
				<div class="courses-img">
					<img src="{% static 'img/courses-1.jpg' %}" alt="">
				</div>
				<div class="courses-info">
					<span class="courses-name">Английский язык для детей от 4-х лет</span>
				</div>
			</a>
		</div>

	</div>
</div>
{% endblock %}
