{% load static %}

<div class="personalArea-content">
  <div class="personalArea-block">
    <div class="personalArea-block__top master-top">
      <div class="personalArea-block__top-row">
        <span class="personalArea-block__title">Сегодняшние уроки</span>
        <a href="#" class="second-btn">Посмотреть все</a>
      </div>
      <div class="personalArea-block__top-b"></div>
    </div>
    <div class="master">
      <div class="master-row">
        <div class="master-col">
          <div class="master-wrap">
            <div class="master-block master-block__top">
              <span class="master-subtitle">Курс:</span>
              <p>Профессиональный английский</p>
            </div>
            <div class="master-block">
              <span class="master-subtitle">Урок 24 (интерактивный урок)</span>
              <p>Притяжательный падеж существительного.</p>
            </div>
            <div class="master-block">
              <span class="master-subtitle">Ученик:</span>
              <p>Джо Роган</p>
            </div>
            <div class="master-block">
              <span class="master-subtitle">Запланировано:</span>
              <p>Сегодня 14:30</p>
            </div>
            <a href="#" class="second-btn">Начать урок</a>
          </div>
        </div>
        <div class="master-col">
          <div class="master-wrap">
            <div class="master-block master-block__top">
              <span class="master-subtitle">Курс:</span>
              <p>Профессиональный английский</p>
            </div>
            <div class="master-block">
              <span class="master-subtitle">Урок 24 (интерактивный урок)</span>
              <p>Притяжательный падеж существительного.</p>
            </div>
            <div class="master-block">
              <span class="master-subtitle">Ученик:</span>
              <p>Джо Роган</p>
            </div>
            <div class="master-block">
              <span class="master-subtitle">Запланировано:</span>
              <p>Сегодня 14:30</p>
            </div>
            <a href="#" class="second-btn">Начать урок</a>
          </div>
        </div>
        <div class="master-col">
          <div class="master-wrap">
            <div class="master-block master-block__top">
              <span class="master-subtitle">Курс:</span>
              <p>Профессиональный английский</p>
            </div>
            <div class="master-block">
              <span class="master-subtitle">Урок 24 (интерактивный урок)</span>
              <p>Притяжательный падеж существительного.</p>
            </div>
            <div class="master-block">
              <span class="master-subtitle">Ученик:</span>
              <p>Джо Роган</p>
            </div>
            <div class="master-block">
              <span class="master-subtitle">Запланировано:</span>
              <p>Сегодня 14:30</p>
            </div>
            <a href="#" class="second-btn">Начать урок</a>
          </div>
        </div>
      </div>
      <div class="master-all">
        <a href="#" class="second-btn">Посмотреть все</a>
      </div>
    </div>
  </div>
  <div class="personalArea-block">
    <div class="personalArea-block__top master-top">
      <div class="personalArea-block__top-row">
        <span class="personalArea-block__title">Не проверенные задания</span>
        <a href="#" class="second-btn">Посмотреть все</a>
      </div>
      <div class="personalArea-block__top-b"></div>
    </div>
    <div class="master">
      <div class="master-row">
        <div class="master-col">
          <div class="master-wrap">
            <div class="master-block master-block__top">
              <span class="master-subtitle">Курс:</span>
              <p>Профессиональный английский</p>
            </div>
            <div class="master-block">
              <span class="master-subtitle">Урок 24 (интерактивный урок)</span>
              <p>Притяжательный падеж существительного.</p>
            </div>
            <div class="master-block">
              <span class="master-subtitle">Ученик:</span>
              <p>Джо Роган</p>
            </div>
            <div class="master-block">
              <span class="master-subtitle">Запланировано:</span>
              <p>Сегодня 14:30</p>
            </div>
            <a href="#" class="second-btn">Начать урок</a>
          </div>
        </div>
        <div class="master-col">
          <div class="master-wrap">
            <div class="master-block master-block__top">
              <span class="master-subtitle">Курс:</span>
              <p>Профессиональный английский</p>
            </div>
            <div class="master-block">
              <span class="master-subtitle">Урок 24 (интерактивный урок)</span>
              <p>Притяжательный падеж существительного.</p>
            </div>
            <div class="master-block">
              <span class="master-subtitle">Ученик:</span>
              <p>Джо Роган</p>
            </div>
            <div class="master-block">
              <span class="master-subtitle">Запланировано:</span>
              <p>Сегодня 14:30</p>
            </div>
            <a href="#" class="second-btn">Начать урок</a>
          </div>
        </div>
        <div class="master-col">
          <div class="master-wrap">
            <div class="master-block master-block__top">
              <span class="master-subtitle">Курс:</span>
              <p>Профессиональный английский</p>
            </div>
            <div class="master-block">
              <span class="master-subtitle">Урок 24 (интерактивный урок)</span>
              <p>Притяжательный падеж существительного.</p>
            </div>
            <div class="master-block">
              <span class="master-subtitle">Ученик:</span>
              <p>Джо Роган</p>
            </div>
            <div class="master-block">
              <span class="master-subtitle">Запланировано:</span>
              <p>Сегодня 14:30</p>
            </div>
            <a href="#" class="second-btn">Начать урок</a>
          </div>
        </div>
      </div>
    </div>
    <div class="master-all">
      <a href="#" class="second-btn">Посмотреть все</a>
    </div>
  </div>
</div>
