{% extends './_base.html' %}

{% load static %}

{% block title %}Задания{% endblock %}

{% block content %}
  <div class="personalArea-content">
    <div class="personalArea-block">
      <div class="personalArea-block__top">
        <div class="personalArea-block__top-row">
          <span class="personalArea-block__title">Не проверенные задания</span>
        </div>
        <div class="personalArea-block__top-b"></div>
      </div>
      <div class="master">
        <div class="master-row">
          <div class="master-col">
            <div class="master-wrap">
              <div class="master-block master-block__top">
                <span class="master-subtitle">Курс:</span>
                <p>Профессиональный английский</p>
              </div>
              <div class="master-block">
                <span class="master-subtitle">Урок 24 (интерактивный урок)</span>
                <p>Притяжательный падеж существительного.</p>
              </div>
              <div class="master-block">
                <span class="master-subtitle">Ученик:</span>
                <p>Джо Роган</p>
              </div>
              <div class="master-block">
                <span class="master-subtitle">Прислано:</span>
                <p>Сегодня 14:30</p>
              </div>
              <a href="#" class="second-btn">Проверить</a>
            </div>
          </div>
          <div class="master-col">
            <div class="master-wrap">
              <div class="master-block master-block__top">
                <span class="master-subtitle">Курс:</span>
                <p>Профессиональный английский</p>
              </div>
              <div class="master-block">
                <span class="master-subtitle">Урок 24 (интерактивный урок)</span>
                <p>Притяжательный падеж существительного.</p>
              </div>
              <div class="master-block">
                <span class="master-subtitle">Ученик:</span>
                <p>Джо Роган</p>
              </div>
              <div class="master-block">
                <span class="master-subtitle">Прислано:</span>
                <p>Сегодня 14:30</p>
              </div>
              <a href="#" class="second-btn">Проверить</a>
            </div>
          </div>
          <div class="master-col">
            <div class="master-wrap">
              <div class="master-block master-block__top">
                <span class="master-subtitle">Курс:</span>
                <p>Профессиональный английский</p>
              </div>
              <div class="master-block">
                <span class="master-subtitle">Урок 24 (интерактивный урок)</span>
                <p>Притяжательный падеж существительного.</p>
              </div>
              <div class="master-block">
                <span class="master-subtitle">Ученик:</span>
                <p>Джо Роган</p>
              </div>
              <div class="master-block">
                <span class="master-subtitle">Прислано:</span>
                <p>Сегодня 14:30</p>
              </div>
              <a href="#" class="second-btn">Проверить</a>
            </div>
          </div>
        </div>
        <div class="master-all">
          <a href="#" class="second-btn">Посмотреть все</a>
        </div>
      </div>
    </div>
    <div class="personalArea-block">
      <div class="personalArea-block__top">
        <div class="personalArea-block__top-row">
          <span class="personalArea-block__title">Предыдущие задания</span>
        </div>
        <div class="personalArea-block__top-b"></div>
      </div>
      <div class="master master-old">
        <div class="master-row">
          <div class="master-col">
            <div class="master-wrap">
              <div class="master-block master-block__top">
                <span class="master-subtitle">Курс:</span>
                <p>Профессиональный английский</p>
              </div>
              <div class="master-block">
                <span class="master-subtitle">Урок 3 (Видео урок)</span>
                <p>Притяжательный падеж существительного.</p>
              </div>
              <div class="master-block">
                <span class="master-subtitle">Ученик:</span>
                <p>Джо Роган</p>
              </div>
              <div class="master-block">
                <span class="master-subtitle">Прислано:</span>
                <p>Сегодня, 12:30-14:03</p>
              </div>
              <div class="master-block">
                <span class="master-subtitle">Проверено:</span>
                <p>Сегодня, 12:30-14:03</p>
              </div>
              <div class="master-block master-block__row">
                <span class="master-subtitle">Оценка: <b>9</b></span>
              </div>
              <a href="#" class="main-btn">Посмотреть</a>
            </div>
          </div>
          <div class="master-col">
            <div class="master-wrap">
              <div class="master-block master-block__top">
                <span class="master-subtitle">Курс:</span>
                <p>Профессиональный английский</p>
              </div>
              <div class="master-block">
                <span class="master-subtitle">Урок 3 (Видео урок)</span>
                <p>Притяжательный падеж существительного.</p>
              </div>
              <div class="master-block">
                <span class="master-subtitle">Ученик:</span>
                <p>Джо Роган</p>
              </div>
              <div class="master-block">
                <span class="master-subtitle">Прислано:</span>
                <p>Сегодня, 12:30-14:03</p>
              </div>
              <div class="master-block">
                <span class="master-subtitle">Проверено:</span>
                <p>Сегодня, 12:30-14:03</p>
              </div>
              <div class="master-block master-block__row">
                <span class="master-subtitle">Оценка: <b>9</b></span>
              </div>
              <a href="#" class="main-btn">Посмотреть</a>
            </div>
          </div>
          <div class="master-col">
            <div class="master-wrap">
              <div class="master-block master-block__top">
                <span class="master-subtitle">Курс:</span>
                <p>Профессиональный английский</p>
              </div>
              <div class="master-block">
                <span class="master-subtitle">Урок 3 (Видео урок)</span>
                <p>Притяжательный падеж существительного.</p>
              </div>
              <div class="master-block">
                <span class="master-subtitle">Ученик:</span>
                <p>Джо Роган</p>
              </div>
              <div class="master-block">
                <span class="master-subtitle">Прислано:</span>
                <p>Сегодня, 12:30-14:03</p>
              </div>
              <div class="master-block">
                <span class="master-subtitle">Проверено:</span>
                <p>Сегодня, 12:30-14:03</p>
              </div>
              <div class="master-block master-block__row">
                <span class="master-subtitle">Оценка: <b>9</b></span>
              </div>
              <a href="#" class="main-btn">Посмотреть</a>
            </div>
          </div>
          <div class="master-col">
            <div class="master-wrap">
              <div class="master-block master-block__top">
                <span class="master-subtitle">Курс:</span>
                <p>Профессиональный английский</p>
              </div>
              <div class="master-block">
                <span class="master-subtitle">Урок 3 (Видео урок)</span>
                <p>Притяжательный падеж существительного.</p>
              </div>
              <div class="master-block">
                <span class="master-subtitle">Ученик:</span>
                <p>Джо Роган</p>
              </div>
              <div class="master-block">
                <span class="master-subtitle">Прислано:</span>
                <p>Сегодня, 12:30-14:03</p>
              </div>
              <div class="master-block">
                <span class="master-subtitle">Проверено:</span>
                <p>Сегодня, 12:30-14:03</p>
              </div>
              <div class="master-block master-block__row">
                <span class="master-subtitle">Оценка: <b>9</b></span>
              </div>
              <a href="#" class="main-btn">Посмотреть</a>
            </div>
          </div>
          <div class="master-col">
            <div class="master-wrap">
              <div class="master-block master-block__top">
                <span class="master-subtitle">Курс:</span>
                <p>Профессиональный английский</p>
              </div>
              <div class="master-block">
                <span class="master-subtitle">Урок 3 (Видео урок)</span>
                <p>Притяжательный падеж существительного.</p>
              </div>
              <div class="master-block">
                <span class="master-subtitle">Ученик:</span>
                <p>Джо Роган</p>
              </div>
              <div class="master-block">
                <span class="master-subtitle">Прислано:</span>
                <p>Сегодня, 12:30-14:03</p>
              </div>
              <div class="master-block">
                <span class="master-subtitle">Проверено:</span>
                <p>Сегодня, 12:30-14:03</p>
              </div>
              <div class="master-block master-block__row">
                <span class="master-subtitle">Оценка: <b>9</b></span>
              </div>
              <a href="#" class="main-btn">Посмотреть</a>
            </div>
          </div>
          <div class="master-col">
            <div class="master-wrap">
              <div class="master-block master-block__top">
                <span class="master-subtitle">Курс:</span>
                <p>Профессиональный английский</p>
              </div>
              <div class="master-block">
                <span class="master-subtitle">Урок 3 (Видео урок)</span>
                <p>Притяжательный падеж существительного.</p>
              </div>
              <div class="master-block">
                <span class="master-subtitle">Ученик:</span>
                <p>Джо Роган</p>
              </div>
              <div class="master-block">
                <span class="master-subtitle">Прислано:</span>
                <p>Сегодня, 12:30-14:03</p>
              </div>
              <div class="master-block">
                <span class="master-subtitle">Проверено:</span>
                <p>Сегодня, 12:30-14:03</p>
              </div>
              <div class="master-block master-block__row">
                <span class="master-subtitle">Оценка: <b>9</b></span>
              </div>
              <a href="#" class="main-btn">Посмотреть</a>
            </div>
          </div>
        </div>
      </div>
      <div class="master-all master-all__open">
        <a href="#" class="second-btn">Посмотреть все</a>
      </div>
    </div>
  </div>
{% endblock %}
