{% extends './_base.html' %}

{% load static %}

{% block title %}Расписание{% endblock %}

{% block content %}
  {% with course=object_list.first %}
    <div class="personalArea-content">
      <div class="personalArea-block">
        <div class="personalArea-block__top">
          <span class="personalArea-block__title">Расписание</span>
          <div class="personalArea-block__top-b"></div>
        </div>

        <div class="timetables">

          {% for week in weeks %}

            <div class="timetables-block range-slider__wrap">

              <span class="timetables-title">{{ week.title }}</span>
              <div class="timetables-slider range-slider">

                {% for weekday in week.weekday %}

                  <div class="timetables-slide">
                    <div class="timetables-wrap">
                      <span class="timetables-subtitle">{{ weekday.date|date:'d M' }}, {{weekday.title}}</span>

                      {% for schedule in weekday.schedules %}

                        <div class="timetables-item {% if schedule.status %}active{% endif %}">
                          <div class="timetables-item__top">
                            <span>{{ schedule.date_value }}</span>
                            <span>{% if schedule.status %}Не пройдено{% else %}Пройдено{% endif %}</span>
                          </div>
                          <ul>
                            <li>{{ schedule.course }}</li>
                            <li>{{ schedule.lesson }}</li>
                            <li>
                              {% if user.is_staff %}
                                Ученик {{ schedule.student }}
                              {% else %}
                                Учитель {{ schedule.teacher }}
                              {% endif %}
                            </li>
                          </ul>
                        </div>

                      {% endfor %}

                    </div>
                  </div>

                {% endfor %}

              </div>
              <input type="range" class="range" min="1" value="1" step="1" max="4">
            </div>

          {% endfor %}

        </div>
      </div>
    </div>
  {% endwith %}
{% endblock %}
