SECRET_KEY=of&sa*bks8g3lkxk99%dfeo3du#1jvj-+b!#3as5&d7dusqs#o
DEBUG=false

EMAIL_HOST=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

SENTRY_DSN=

MERCHANT_ID=1396424

NUMB_WEBRTC_USERNAME=
NUMB_WEBRTC_CREDENTIAL=
