SECRET_KEY=${SECRET_KEY}
DEBUG=false

EMAIL_HOST=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

SENTRY_DSN=

MERCHANT_ID=1396424

VOXIMPLANT_ACC_ID=
VOXIMPLANT_ACC_NAME=
VOXIMPLANT_APP_ID=
VOXIMPLANT_APP_NAME=
VOXIMPLANT_API_KEY=
VOXIMPLANT_USER_PASSWORD=

NUMB_WEBRTC_USERNAME=
NUMB_WEBRTC_CREDENTIAL=
